<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->

<body>
<div th:fragment="tang">
    <div class="tang">
        <style>
            input[type="text"]{
                border: 0px;
                width: 150px;
            }
            input[type="checkbox"]{
                margin-left: 20px;
            }
            label{
                color: red;
            }
        </style>

    <table width="100%" border="1" cellspacing="0" cellpadding="1" id="tab1">
        <caption>
            糖尿病专项管理卡
        </caption>
        <tr>
            <td colspan="2" width="294px">个人健康档案号:</td>
            <td colspan="2" width="300px"><input type="text" name="userId" id="userId" readonly/></td>
        </tr>
        <tr>
            <td>姓名:</td>
            <td><input type="text" name="recordName" id="recordName" readonly/></td>
            <td>性别:</td>
            <td><input type="text" name="userSex" id="userSex" readonly/></td>
        </tr>
        <tr>
            <td>婚姻:</td>
            <td><input type="text" name="userGam" id="userGam" readonly/></td>
            <td>职业:</td>
            <td><input type="text" name="userWorKunit" id="userWorKunit" readonly/></td>
        </tr>
        <tr>
            <td>出生日期:</td>
            <td><input type="text" name="userBirthday" id="userBirthday" readonly/></td>
            <td>本人电话:</td>
            <td><input type="text" name="userMyphone" id="userMyphone" readonly/></td>
        </tr>
        <tr>
            <td>现住址:</td>
            <td><input type="text" name="recordAdress" id="recordAdress" readonly/></td>
            <td>建档机构;</td>
            <td><input type="text" name="recordUnit" id="recordUnit" readonly/></td>
        </tr>



        <form id="form1" method="post">
            <tr rowspan="3">
                <td>家族史:</td>
                <td colspan="3">
                    <input type="checkbox" name="dmsmcardFamihis" value="1"/>无
                    <input type="checkbox" name="dmsmcardFamihis" value="2"/>高血压
                    <input type="checkbox" name="dmsmcardFamihis" value="3"/>糖尿病
                    <input type="checkbox" name="dmsmcardFamihis" value="4"/>冠心病
                    <input type="checkbox" name="dmsmcardFamihis" value="5"/>慢性阻塞性肺炎<br>
                    <input type="checkbox" name="dmsmcardFamihis" value="6"/>恶性肿瘤
                    <input type="checkbox" name="dmsmcardFamihis" value="7"/>脑卒中
                    <input type="checkbox" name="dmsmcardFamihis" value="8"/>重型精神疾病
                    <input type="checkbox" name="dmsmcardFamihis" value="9"/>结核病
                    <input type="checkbox" name="dmsmcardFamihis" value="10"/>肺炎<br>
                    <input type="checkbox" name="dmsmcardFamihis" value="11"/>先天畸形
                    <input type="checkbox" name="dmsmcardFamihis" value="12"/>其他
                </td>
            </tr>
            <script>
                $(function () {
                    $("input[name='dmsmcardFamihis']").first().click(function () {
                            if($(this).prop("checked") == true){
                                $("input[name='dmsmcardFamihis']").prop("checked",false);
                                $("input[name='dmsmcardFamihis']").prop("disabled",true);
                                $(this).prop("checked",true);
                                $(this).prop("disabled",false);
                            }else{
                                $("input[name='dmsmcardFamihis']").prop("disabled",false);
                            }
                        }
                    );

                })

            </script>
            <tr>
                <td>确诊单位:</td>
                <td colspan="3"><input type="text" maxlength="15" name="dmsmcardConunit" /></td>
            </tr>
            <tr>
                <td>发病日期:</td>
                <td><input type="date" class="easyui-datebox"  editable="fasle"  name="dmsmcardAccidate" /></td>
                <td>确诊日期:</td>
                <td><input type="date" class="easyui-datebox"  editable="fasle"  name="dmsmcardCondate" /></td>
            </tr>
            <tr rowspan="2">
                <td>目前症状:</td>
                <td colspan="3">
                    <input type="checkbox" name="dmsmcardCurrsymp" value="1"/>无症状
                    <input type="checkbox" name="dmsmcardCurrsymp" value="2"/>多饮
                    <input type="checkbox" name="dmsmcardCurrsymp" value="3"/>多食
                    <input type="checkbox" name="dmsmcardCurrsymp" value="4"/>多尿
                    <input type="checkbox" name="dmsmcardCurrsymp" value="5"/>视力模糊
                    <input type="checkbox" name="dmsmcardCurrsymp" value="6"/>感染
                    <input type="checkbox" name="dmsmcardCurrsymp" value="7"/>手脚麻木<br>
                    <input type="checkbox" name="dmsmcardCurrsymp" value="8"/>下肢浮肿
                    <input type="checkbox" name="dmsmcardCurrsymp" value="9"/>体重明显下降
                    <input type="checkbox" name="dmsmcardCurrsymp" value="10"/>其他
                </td>
            </tr>
            <script>
                $(function () {
                    $("input[name='dmsmcardCurrsymp']").first().click(function () {
                            if($(this).prop("checked") == true){
                                $("input[name='dmsmcardCurrsymp']").prop("checked",false);
                                $("input[name='dmsmcardCurrsymp']").prop("disabled",true);
                                $(this).prop("checked",true);
                                $(this).prop("disabled",false);
                            }else{
                                $("input[name='dmsmcardCurrsymp']").prop("disabled",false);
                            }
                        }
                    );

                })

            </script>
            <tr>
                <td>日吸烟量:</td>
                <td><input type="text"  name="dmsmcardSmoking" maxlength="5"  value="0" oninput="value=value.replace(/[^\d]/g,'')"/>支</td>
                <td>日饮酒量:</td>
                <td><input type="text" name="dmsmcardDrinking" maxlength="5" value="0" oninput="value=value.replace(/[^\d]/g,'')"/>两</td>
            </tr>
            <tr>
                <td>运动量:</td>
                <td><input type="text" name="dmsmcardExercise" value="0" maxlength="5" oninput="value=value.replace(/[^\d]/g,'')"/>次/周</td>
                <td>运动量时间:</td>
                <td><input type="text" name="dmsmcardExetime" value="0" maxlength="5" oninput="value=value.replace(/[^\d]/g,'')"/>分/次</td>
            </tr>
            <tr>
                <td>身高:</td>
                <td><input type="text" onkeyup="BmiVal()" maxlength="3" name="dmsmcardHeight" id="Height" oninput="value=value.replace(/[^\d]/g,'')"/>CM</td>
                <td>体重:</td>
                <td><input type="number" onkeyup="BmiVal()" maxlength="4" name="dmsmcardWeight" id="Weight" oninput="value=value.replace(/[^\d\.]/g,'')"/>kg</td>
            </tr>
            <tr>
                <td>体质指数:</td>
                <td colspan="3"><input type="text" id="dmsmcardBmi" name="dmsmcardBmi" readonly/>kg/m^2</td>
            </tr>

            <script>
                function BmiVal() {
                    var hh=($("#Height").val())/100;
                    $("#dmsmcardBmi").val(($("#Weight").val()/(hh*hh)).toFixed(2));
                }

            </script>
            <tr>
                <td>血压:</td>
                <td>高:<input type="text" name="dmsmcardBp1" oninput="value=value.replace(/[^\d]/g,'')" maxlength="3"/><br>
                    低:<input type="text" name="dmsmcardBp2"  oninput="value=value.replace(/[^\d]/g,'')" maxlength="3"/></td>
                <td>糖尿病类型:</td>
                <td><select name="dmsmcardDiatype">
                    <option value="1">1型糖尿病</option>
                    <option value="2">2型糖尿病</option>
                    <option value="3">妊娠糖尿病</option>
                    <option value="4">IGT</option>
                    <option value="5">IFG</option>
                    <option value="6">其他</option>
                </select></td>
            </tr>
            <tr>
                <td>病例来源:</td>
                <td colspan="3"><select  name="dmsmcardSources" class="easyui-combobox" label="State:" labelPosition="top" style="width:100%;">
                    <option value="1">门诊</option>
                    <option value="2">糖尿病普查</option>
                    <option value="3">体检</option>
                    <option value="4">其他</option>
                </select></td>

            </tr>
            <tr>
                <td>危险因素:</td>
                <td colspan="3"><input type="text" name="dmsmcardHazards" /></td>
            </tr>
            <tr>
                <td>管理级别:</td>
                <td colspan="3"><select name="dmsmcardAdminid" class="easyui-combobox" label="State:" labelPosition="top" style="width:100%;">
                    <option value="1">低危层</option>
                    <option value="2">中危层</option>
                    <option value="3">高危层</option>
                    <option value="4">极高危层</option>
                </select></td>
            </tr>
            <tr>
                <td>空腹血糖:</td>
                <td><input type="text" name="dmsmcardFbg" maxlength="4" value="4.61"  oninput="value=value.replace(/[^\d\.]/g,'')"/></td>
                <td>餐后两小时血糖:</td>
                <td><input type="text" name="dmsmcardHpg"  maxlength="4" value="4.61"  oninput="value=value.replace(/[^\d\.]/g,'')"/></td>
            </tr>
            <tr>
                <td>随机血糖:</td>
                <td><input type="text" name="dmsmcardRbg" value="4.61" maxlength="4"  oninput="value=value.replace(/[^\d\.]/g,'')"/></td>
                <td>糖化血红蛋白:</td>
                <td><input type="text" name="dmsmcardHbalc" value="4.61" maxlength="4"  oninput="value=value.replace(/[^\d\.]/g,'')"/></td>
            </tr>
            <tr>
                <td>转归原因:</td>
                <td><input type="text" name="dmsmcardOutfor" readonly /></td>
                <td>转归日期:</td>
                <td><input class="easyui-datebox"  editable="fasle"  type="date" name="dmsmcardOutdate" readonly/></td>
            </tr>
            <tr>
                <td>建档医生:</td>
                <td><select name="dmsmcardDoctor" id="dmsmcardDoctor" style="width:100%;">
                    <a th:each="ltf : ${session.ltf}">
                        <option th:value="${ltf.id}"><span>[[${ltf.lastname}]]</span></option>

                    </a>
                </select>
                </td>
                <td>
                    建卡日期<label>*</label>:
                </td>
                <td><input name="dmsmcardJkcard" id="jiandangdate" class="easyui-validatebox easyui-datebox"  editable="fasle"  data-options="required:true, missingMessage:'请填时间' "/></td>
            </tr>
            <tr>
<script>
    $(function () {
        var date=new Date();

        $("#jiandangdate").datebox('setValue',date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate());
    })
</script>

                <td colspan="4" align="center">
                    <!--<a class="easyui-linkbutton"  ></a>-->
                    <!--<input type="button" id="addHyL" style="width: 80px;border-radius: 15px;float: left;" onclick="goAdd()" value="添加"/>-->
                      <!--<input type="button" id="edit" style="width: 80px;border-radius: 15px;float: left;" onclick="edit()" value="编辑"/>-->
                                 <!--<input type="button" style="width: 80px;border-radius: 15px;float: left;" onclick="goBack()" value="取消"/>-->
                    <!--<a class="easyui-linkbutton"  onclick="edit()" id="edit" style="display: none">编辑</a>-->

                    <!--<a class="easyui-linkbutton" style="width:80px" onclick="goBack()">取消</a>-->
                </td>
            </tr>
        </form>
    </table>
    </div>
</div>
</body>
</html>
