<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.othslow.OthMECMapper">



    <select id="findList" parameterType="Map" resultType="map">
        select * from othslow o,userinfo u,othslowName ot where u.userId=o.recordId
        and ot.othslowNameId=o.othslowNameId and ot.othslowNameState=0

        <if test="userId != null and userId != 0">
            and u.userId LIKE '%${userId}%'
        </if>
        <if test="recordName != null and recordName != ''">
            AND recordName LIKE '%${recordName}%'
        </if>
        <if test="userMyphone != null and userMyphone != ''">
            AND userMyphone LIKE '%${userMyphone}%'
        </if>
        <if test="recordAdress != null and recordAdress != ''">
            AND u.recordAdress LIKE '%${recordAdress}%'
        </if>
        <if test="userIdnumber != null and userIdnumber != ''">
            AND u.userIdnumber LIKE '%${userIdnumber}%'
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <!-- 获取符合结果的总记录数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*)from othslow o,userinfo u,othslowName ot where u.userId=o.recordId
        and ot.othslowNameId=o.othslowNameId and ot.othslowNameState=0

        <if test="userId != null and userId != 0">
            and u.userId LIKE '%${userId}%'
        </if>
        <if test="recordName != null and recordName != ''">
            AND recordName LIKE '%${recordName}%'
        </if>
        <if test="userMyphone != null and userMyphone != ''">
            AND userMyphone LIKE '%${userMyphone}%'
        </if>
        <if test="recordAdress != null and recordAdress != ''">
            AND u.recordAdress LIKE '%${recordAdress}%'
        </if>
        <if test="userIdnumber != null and userIdnumber != ''">
            AND u.userIdnumber LIKE '%${userIdnumber}%'
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

</mapper>