<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.othslow.OthSlowMapper">
    <insert id="add" parameterType="com.aaa.health.entity.othslow.Othslow">
insert into othslow(
recordId,othslowNameId,othslowSmostat,othslowDrinking,othslowExercise,othslowWeekly,othslowEach,
othslowEveryday,othslowMeal,othslowSmdays,othslowLesslast,othslowDrink,othslowDriless,othslowWeiless,
othslowClosestate,othslowState,othslowDiatime,othslowDiabwh,othslowOthbwh,othslowMakegist,othslowFamihis,
othslowOrimed1,othslowOrimed2,othslowOrimed3,othslowAdjmed1,othslowAdjmed2,othslowAdjmed3,othslowFoot,
othslowGppaq,othslowResdoc,othslowJkdate,othslowOutfor,othslowOutdate, othslowClosesrtwhy,othslowDe)
values(
#{recordId},#{othslowNameId},#{othslowSmostat},#{othslowDrinking},#{othslowExercise},
#{othslowWeekly},#{othslowEach},#{othslowEveryday},#{othslowMeal},#{othslowSmdays},#{othslowLesslast},
#{othslowDrink},#{othslowDriless},#{othslowWeiless},0,#{othslowState},#{othslowDiatime},
#{othslowDiabwh},#{othslowOthbwh},#{othslowMakegist},#{othslowFamihis},#{othslowOrimed1},#{othslowOrimed2},
#{othslowOrimed3},#{othslowAdjmed1},#{othslowAdjmed2},#{othslowAdjmed3},#{othslowFoot},#{othslowGppaq},
#{othslowResdoc},#{othslowJkdate},#{othslowOutfor},#{othslowOutdate},#{ othslowClosesrtwhy},#{othslowDe}
)
</insert>
    <update id="edit" parameterType="com.aaa.health.entity.othslow.Othslow">
  update othslow set
othslowNameId=#{othslowNameId},othslowSmostat=#{othslowSmostat},othslowDrinking=#{othslowDrinking},
othslowExercise=#{othslowExercise},othslowWeekly=#{othslowWeekly},othslowEach=#{othslowEach},othslowEveryday=#{othslowEveryday},
othslowMeal=#{othslowMeal},othslowSmdays=#{othslowSmdays},othslowLesslast=#{othslowLesslast},othslowDrink=#{othslowDrink},
othslowDriless=#{othslowDriless},othslowWeiless=#{othslowWeiless},othslowClosestate=#{othslowClosestate},othslowState=#{othslowState},
othslowDiatime=#{othslowDiatime},othslowDiabwh=#{othslowDiabwh},othslowOthbwh=#{othslowOthbwh},othslowMakegist=#{othslowMakegist},
othslowFamihis=#{othslowFamihis},othslowOrimed1=#{othslowOrimed1},othslowOrimed2=#{othslowOrimed2},othslowOrimed3=#{othslowOrimed3},
othslowAdjmed1=#{othslowAdjmed1},othslowAdjmed2=#{othslowAdjmed2},othslowAdjmed3=#{othslowAdjmed3},othslowFoot=#{othslowFoot},
othslowGppaq=#{othslowGppaq},othslowResdoc=#{othslowResdoc},othslowJkdate=#{othslowJkdate},othslowOutfor=#{othslowOutfor},
othslowOutdate=#{othslowOutdate}, othslowClosesrtwhy=#{ othslowClosesrtwhy},othslowDe=#{othslowDe} where othslowId=#{othslowId}
    </update>

    <update id="upState" parameterType="com.aaa.health.entity.othslow.Othslow">
    update othslow set othslowClosestate=#{othslowClosestate},othslowOutdate=#{othslowOutdate},othslowOutfor=#{othslowOutfor}  where othslowId=#{othslowId}
    </update>

    <select id="queryDis" resultType="Map">
          select * from othslowName
    </select>

    <select id="queryDoctor" resultType="Map">
          select * from user where roleId != 1
    </select>
    <select id="queryName" resultType="Map">
select * from othslowName
    </select>

    <delete id="delete" parameterType="String">
        delete from othslow where othslowId in(${value})
    </delete>
    <select id="queryAllUser" parameterType="Map" resultType="Map">
        select * from userinfo u
        where userId not in (select recordId from othslow)
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <select id="queryUserTotal" parameterType="Map" resultType="Integer">
        select count(*) from userinfo u,othslow o where u.userId!=o.recordId
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>
    <select id="findList" parameterType="Map" resultType="map">
        select * from othslow o,userinfo u,othslowName ot where u.userId=o.recordId and ot.othslowNameId=o.othslowNameId

        <if test="userId != null and userId != 0">
            and u.userId LIKE '%${userId}%'
        </if>
        <if test="recordName != null and recordName != ''">
            AND recordName LIKE '%${recordName}%'
        </if>
        <if test="userMyphone != null and userMyphone != ''">
            AND userMyphone LIKE '%${userMyphone}%'
        </if>
        <if test="recordAdress != null and recordAdress != ''">
            AND u.recordAdress LIKE '%${recordAdress}%'
        </if>
        <if test="userIdnumber != null and userIdnumber != ''">
            AND u.userIdnumber LIKE '%${userIdnumber}%'
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>



    </select>

    <!-- 获取符合结果的总记录数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        /*select count(*) from othslow where 1 = 1*/
        select count(*) from othslow o,userinfo u,othslowName ot where u.userId=o.recordId and ot.othslowNameId=o.othslowNameId
        <if test="userId != null and userId != 0">
            and u.userId LIKE '%${userId}%'
        </if>
        <if test="recordName != null and recordName != ''">
            AND recordName LIKE '%${recordName}%'
        </if>
        <if test="userMyphone != null and userMyphone != ''">
            AND userMyphone LIKE '%${userMyphone}%'
        </if>
        <if test="recordAdress != null and recordAdress != ''">
            AND u.recordAdress LIKE '%${recordAdress}%'
        </if>
        <if test="userIdnumber != null and userIdnumber != ''">
            AND u.userIdnumber LIKE '%${userIdnumber}%'
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>



    </select>
    <select id="queryUserById" parameterType="Integer" resultType="Map">
        select * from userinfo u WHERE  u.userId=#{uid}
    </select>
    <select id="queryEdit" parameterType="int" resultType="Map">
             select * from othslow WHERE othslowId=#{othslowId}
    </select>

</mapper>