<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--引入抬头页面-->
<div th:replace="common/header :: header"></div>

<div class="easyui-layout" data-options="fit:true">
    <!-- Begin of toolbar -->
    <div id="wu-toolbar">
        <div class="wu-toolbar-button">
            <!--引入菜单页面-->
            <div th:replace="common/menus :: menus"></div>

        </div>
 <style>
     .ziti{
         color:red

     }
 </style>
        <div class="wu-toolbar-search">

      <label> 个人编号:</label><input name="userId"/>
        <label> 姓名:</label><input name="userName"/>
        <label> 联系地址:</label><input name="userAdress"/>
        <label> 联系电话:</label><input name="userMyphone"/>
        <a href="#" id="userSearch" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
       <label class="ziti">**双击查看随访记录**</label>
        </div>

    </div>

    <!-- End of toolbar -->
    <table id="data-datagrid" class="easyui-datagrid" toolbar="#wu-toolbar"></table>
</div>
<!-- Begin of easyui-dialog -->
<div id="zili" class="easyui-dialog" style="width: 740px; height:740px;padding:10px;">
    <div th:replace="common/oldself :: oldzili"></div>
</div>
<div id="editzili" class="easyui-dialog" style="width: 740px; height:740px;padding:10px;">
    <div th:replace="common/editoldself :: editoldzili"></div>
</div>

<div id="add-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-sssave'"
     style="width:610px; padding:10px;margin: auto">

    <!-- 查询此用户所有随访记录-->
    <table id="data-ins" class="easyui-datagrid" style="width: 580px;height:500px;margin: auto "></table>
</div>
<!-- 修改窗口 -->

<!--<div id="edit-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'"
     style="width:450px; padding:10px;">
    <form id="edit-form" method="post">
        <input type="hidden" name="id" id="edit-id">
        <table>
            <tr>
                <td width="60" align="right">头像预览:</td>
                <td valign="middle">
                    <img id="edit-preview-photo" style="float:left;" src="/admin/easyui/images/user_photo.jpg"
                         width="100px">
                    <a style="float:left;margin-top:40px;" href="javascript:void(0)" class="easyui-linkbutton"
                       iconCls="icon-upload" onclick="uploadPhoto()" plain="true">上传图片</a>
                </td>
            </tr>
            <tr>
                <td width="60" align="right">头像:</td>
                <td><input type="text" id="edit-photo" name="photo"
                           value="/BaseProjectSSM/resources/admin/easyui/images/user_photo.jpg" readonly="readonly"
                           class="wu-text "/></td>
            </tr>
            <tr>
                <td width="60" align="right">用户名:</td>
                <td><input type="text" id="edit-username" name="username" class="wu-text easyui-validatebox"
                           data-options="required:true, missingMessage:'请填写用户名'"/></td>
            </tr>
            <tr>
                <td width="60" align="right">所属角色:</td>

            </tr>
            <tr>
                <td width="60" align="right">性别:</td>
                <td>
                    <select id="edit-sex" name="sex" class="easyui-combobox" panelHeight="auto" style="width:268px">
                        <option value="0">未知</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="60" align="right">年龄:</td>
                <td><input type="text" id="edit-age" name="age" value="1"
                           class="wu-text easyui-numberbox easyui-validatebox"
                           data-options="required:true,min:1,precision:0, missingMessage:'请填写年龄'"/></td>
            </tr>
            <tr>
                <td width="60" align="right">地址:</td>
                <td><input type="text" id="edit-address" name="address" class="wu-text easyui-validatebox"/></td>
            </tr>
        </table>
    </form>
</div>-->
<div id="edit-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-sssave'"
     style="width:600px; height:500px; padding:10px;">


</div>

<div id="process-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-upload',title:'正在上传图片'"
     style="width:450px; padding:10px;">
    <div id="p" class="easyui-progressbar" style="width:400px;" data-options="text:'正在上传中...'"></div>
</div>
<input type="file" id="photo-file" style="display:none;" onchange="upload()">
<!--引入叫本页面<%@include file="../common/footer.jsp"%>-->
<div th:replace="common/footer :: myfooter"></div>


<!-- End of easyui-dialog -->
<script type="text/javascript" th:inline="none">
    var gxy;
    $(function () {
        $("#zili").dialog('close');
    })
    $(function () {
        $("#editzili").dialog('close');
    })
  function    Close()   {
        $("#editzili").dialog('close');
    }
    function  goBack() {
        $("#zili").dialog('close');
    }
      function add(){
          $('#add-dialog').dialog('close');
          $("#zili").dialog({
              title : "新增自理评估表",
              model : true,
              buttons: [   {
                  text: '添加',
                  iconCls: 'icon-ok',
                  handler: goAdd
              },{
                  text: '取消',
                  iconCls: 'icon-cancel',
                  handler: function () {
                      $('#zili').dialog('close');
                  }
              }],


              onBeforeOpen: function(){
                  $("#oldpeoId").val(gxy);
                 $.ajax({
                      url:'queryById',
                      type:'post',
                      data:"uid="+gxy,
                      dataType:'json',
                      success:function(data){
                          $("#oldpeoId").val(data.oldpeoId);
                          $("#add-id").val(data.oldselfId);
                          $("#recordName").val(data.recordName);
                          $("#userId ").val(data.userId );
                      }

                  });

              },
          });
      }
//模糊查询


        $(function () {
            $("#userSearch").click(function () {
                $("#data-datagrid").datagrid({
                    queryParams: {
                        bianhao: $("input[name=bianhao]").val(),
                        ming: $("input[name=ming]").val(),
                        userAdress: $("input[name=userAdress]").val(),
                        sjh: $("input[name=sjh]").val(),
                        oldpeoMstate: $("input[name=oldpeoMstate]").val()
                    }
                });
            });
        });

    //上传图片
    function start() {
        var value = $('#p').progressbar('getValue');
        if (value < 100) {
            value += Math.floor(Math.random() * 10);
            $('#p').progressbar('setValue', value);
        } else {
            $('#p').progressbar('setValue', 0)
        }
    };

    function upload() {
        if ($("#photo-file").val() == '') return;
        var formData = new FormData();
        formData.append('photo', document.getElementById('photo-file').files[0]);
        $("#process-dialog").dialog('open');
        var interval = setInterval(start, 200);
        $.ajax({
            url: 'upload_photo',
            type: 'post',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                clearInterval(interval);
                $("#process-dialog").dialog('close');
                if (data.type == 'success') {
                    $("#preview-photo").attr('src', data.filepath);
                    $("#add-photo").val(data.filepath);
                    $("#edit-preview-photo").attr('src', data.filepath);
                    $("#edit-photo").val(data.filepath);
                } else {
                    $.messager.alert("消息提醒", data.msg, "warning");
                }
            },
            error: function (data) {
                clearInterval(interval);
                $("#process-dialog").dialog('close');
                $.messager.alert("消息提醒", "上传失败!", "warning");
            }
        });
    }

    function uploadPhoto() {
        $("#photo-file").click();

    }


    /**
     *  添加记录
     */
    function goAdd() {
        var validate = $("#form1").form("validate");
        if (!validate) {
            $.messager.alert("消息提醒", "请检查你输入的数据!", "warning");
            return;
        }
        var dat = $("#form1").serialize();
        $.ajax({
            url: 'add',
            dataType: 'json',
            type: 'post',
            data: dat,
            success: function (data) {
                if (data>0) {
                    $.messager.alert('信息提示', '添加成功！', 'info');
                    $('#zili').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                    $("#data-ins").datagrid('getSelections').length = 0;
                } else {
                    $.messager.alert('信息提示', data.msg, 'warning');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                    $("#data-ins").datagrid('getSelections').length = 0;
                }
            }
        });
    }

    /**
     * Name 修改记录
     */
    function update(){

        var validate = $("#form2").form("validate");
        if(!validate){
            return;
        }
        var date=$("#form2").serialize();
/*        alert(date);*/
        $.ajax({
            url:'updateold',
            dataType:'json',
            type:'post',
            data: date,
            success:function(data){
                if(data>0){
                    $.messager.alert('信息提示','修改成功！','info');
                    $('#editzili').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                    $("#data-ins").datagrid('getSelections').length = 0;
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                    $("#data-ins").datagrid('getSelections').length = 0;
                }
            }
        });
    }

    /**
     * 打开修改窗口
     */

    var ed;
    function upda(oldselfId,oldpeoId) {
        $('#add-dialog').dialog('close');
        gxy = oldpeoId;
        ed = oldselfId;

        $('#editzili').dialog({
            closed: false,
            modal: true,
            title: "修改",
            buttons: [   {
                text: '保存',
                iconCls: 'icon-ok',
                handler: update
            },{
                text: '取消',
                iconCls: 'icon-cancel',
                handler: Close
            }],

            onBeforeOpen: function () {
                $("#editoldpeoId").val(gxy);
                $("#editoldselfId").val(ed);
                $.ajax({
                    url: 'queryById',
                    type: 'post',
                    data: "uid=" + gxy,
                    dataType: 'json',
                    success: function (data) {
                        $("#recordName2").val(data.recordName);
                        $("#userId2 ").val(data.userId);
                    }

                });
                $.ajax({
                    url: 'queryId',
                    type: 'post',
                    data: "oldselfId=" + ed,
                    dataType: 'json',
                    success: function (d) {

                        $('#form2').form('load', d[0]);

                    }

                })

            }
        })
    }

        /**
         * 删除记录
         */
        function dele() {
            $.messager.confirm('信息提示', '确定要删除该记录？', function () {

                var item = $('#data-ins').datagrid('getSelections');

                if (item == null || item.length == 0) {
                    $.messager.alert('信息提示', '请选择要删除的数据！', 'info');
                    return;
                }
                var ids = '';
                for (var i = 0; i < item.length; i++) {
                    ids += item[i].oldselfId + ',';
                }
         /*       alert(ids);*/
                $.ajax({
                    url: 'del',
                    dataType: 'json',
                    type: 'post',
                    data: {ids: ids},
                    success: function (data) {
                        if (data.type == 'success') {
                            $.messager.alert('信息提示', '删除成功！', 'info');
                            $('#add-dialog').dialog('close');
                            $('#data-datagrid').datagrid('reload');
                            $("#data-datagrid").datagrid('getSelections').length = 0;
                            $("#data-ins").datagrid('getSelections').length = 0;
/*                            $("#sele").datagrid('getSelections').length = 0;*/
                        } else {
                            $.messager.alert('信息提示', data.msg, 'warning');
                            $("#data-datagrid").datagrid('getSelections').length = 0;
                            $("#data-ins").datagrid('getSelections').length = 0;
                        }
                    }
                });

            });
        }

        /**
         * Name 打开添加窗口
         */

        function openAdd(oldpeoId) {
            gxy = oldpeoId;

            //$('#add-form').form('clear');
            $('#add-dialog').dialog({
                closed: false,
                modal: true,
                title: "个人评估表",
                buttons: [{
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $('#add-dialog').dialog('close');
                            $("#data-ins").datagrid('getSelections').length = 0;

                        }
                    }],
                onBeforeOpen: function () {
                    $("#data-ins").datagrid({
                        url: 'userList?oldpeoId=' + oldpeoId,
                        fitColumns: true,
                        striped: true,
                        singleSelect: true,
                        pagination: true,
                        rownumbers: true,
                        pageSize: 20,
                        multiSort: true,
                        idField: 'oldpeoId',
                        columns: [[
                         /*   {field:'chk',checkbox:true,width:60},*/
                            {field: 'oldpeoId', title: '序号', width: 100, hidden: true},
                            {field: 'oldselfDe', title: '录入时间', width: 90, align: 'center'},
                            {field: 'oldselfId', title: '新增序号', width: 100, align: 'center', hidden: true},
                            {field: 'oldselfDine', title: '进餐评分', width: 90, align: 'center'},
                            {field: 'oldselfToilet', title: '梳洗评分', width: 90, align: 'center'},
                            {field: 'oldselfDress', title: '穿衣评分', width: 90, align: 'center'},
                            {field: 'oldselfClean', title: '如厕评分', width: 90, align: 'center'},
                            {field: 'oldselfEvent', title: '活动评分', width: 90, align: 'center'}


                        ]], onDblClickRow: function (index, row) {
                            upda(row.oldselfId, row.oldpeoId);
                        },
                        toolbar: [{
                            text: '新增',
                            iconCls: 'icon-add',
                            handler: add
                        }, '-', {
                            text: '删除',
                            iconCls: 'icon-cancel',
                            handler: dele
                        }, '-', {
                            text: ' <label class="ziti">**双击修改随访记录**</label>',
                          /*  iconCls: 'icon-jingshenke',*/
                       /*     handler: function(){}*/
                        }]
                    });
                },
            });
        }


        //搜索按钮监听
        $("#search-btn").click(function () {
            var roleId = $("#search-role").combobox('getValue');
            var sex = $("#search-sex").combobox('getValue')
            var option = {username: $("#search-name").val()};
            if (roleId != -1) {
                option.roleId = roleId;
            }
            if (sex != -1) {
                option.sex = sex;
            }
            $('#data-datagrid').datagrid('reload', option);
        });


    /**
     * 载入数据
     */
    $('#data-datagrid').datagrid({
        url: 'list',
        rownumbers: true,
        singleSelect: true,
        pageSize: 20,
        pagination: true,
        multiSort: true,
        fitColumns: true,
        idField: 'id',
        treeField: 'name',
        fit: true,
        onDblClickRow: function (index, row) {
            openAdd(row.oldpeoId);
        },
        columns: [[
            {field: 'oldpeoId', title: '老人信息ID', hidden: true},
            {field: 'recordName', title: '姓名', width: 100, align: 'center'},
            { field:'userId',title:'个人编号',width:100,align:'center'},
            { field:'userNumber',title:'个人健康档案号',hidden:true},
            {field: 'userIdnumber', title: '身份证号', width: 100, align: 'center'},
            {field: 'userBirthday', title: '出生日期', width: 100, align: 'center'},
            {field: 'recordAdress', title: '家庭地址', width: 100, align: 'center'},
            {field: 'userMyphone', title: '联系电话', width: 100, align: 'center'},
            {field: 'recordData', title: '建档日期', width: 100, align: 'center'},

        ]],
        onLoadSuccess: function (data) {
            $('.authority-edit').linkbutton({text: '编辑权限', plain: true, iconCls: 'icon-edit'});
        }
    })

</script>