<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--引入抬头页面-->
<div th:replace="common/header :: header"  ></div>

<div class="easyui-layout" data-options="fit:true">
    <!-- Begin of toolbar -->
    <div id="wu-toolbar">
        <div class="wu-toolbar-button">
            <!--引入菜单页面-->
            <div th:replace="common/menus :: menus"  > </div>
        </div>
        <div class="wu-toolbar-search">
            <label> 健康卡号:</label>&nbsp;
            <input name="userId" class="easyui-numberbox" maxlength="9" data-options="validType:'length[0,9]'"  style="width: 120px"/>&nbsp;&nbsp;
            <label> 姓名:</label>&nbsp;
            <input name="recordName" style="width: 100px"/>&nbsp;&nbsp;
            <label> 性别:</label>&nbsp;
            <select name="userSex" class="easyui-combobox" panelHeight="auto" style="width:50px">
                <option value="1">男</option>
                <option value="2">女</option>
                <option value="3">未知</option>
            </select>&nbsp;&nbsp;
            <label> 所属地区:</label>&nbsp;
            <select th:name="recordUnit" class="easyui-combobox" panelHeight="auto" style="width:150px" data-options="editable:false">
                <option th:each="l:${list}" th:value="${l.areaId}" th:text="${l.areaName}"></option>
            </select>&nbsp;&nbsp;
            <label> 责任医生:</label>&nbsp;
            <select name="pultubfofoDoctor" class="easyui-combobox" panelHeight="auto">
                <a th:each="doctor:${session.doctor}" >
                    <option   th:value="${doctor.id}" ><span th:text="${doctor.lastname }"></span></option>
                </a>
            </select>&nbsp;&nbsp;
            <label> 建卡日期:</label>&nbsp;
            <input type="text" class="easyui-datebox"  name="beginTime" style="width: 100px"/>至
            <input type="text" class="easyui-datebox"  name="endTime" style="width: 100px"/>
            <a href="#" id="pultub-Search" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        </div>
    </div>



    <!-- End of toolbar -->
    <table id="data-datagrid" class="easyui-datagrid" toolbar="#wu-toolbar"></table>
</div>
<!-- Begin of easyui-dialog -->
<!-- 添加/修改肺结核随访记录 -->
<div id="editfoser" class="easyui-dialog" style="width: 800px;height: 900px; padding:10px;">
    <div th:replace="pultub/foservpul :: foser"></div>
</div>
<div id="foservpul-dialog" class="easyui-dialog" data-options="closed:true" style="width:700px;height: 600px">
    <table id="dataAll" class="easyui-datagrid" style="width: 680px; height: 520px;" ></table>
</div>
<!-- 添加/修改肺结核患者第一次入户随访记录 -->
<div id="addpul" class="easyui-dialog" style="width: 730px;height: 900px; margin-left: 20px;padding:10px;">
    <div th:replace="pultub/addpultubfo :: pultubfo"></div>
</div>
<!--健康档案-->
<div id="userinfo-dialog" class="easyui-dialog" data-options="closed:true" style="width:800px;height: 700px">
    <!--按条件查询-->
    <label> 健康档案号:</label><input name="userId" class="userId" maxlength="9" data-options="validType:'length[0,9]'"  style="width: 120px"/>
    <label> 姓名:</label><input name="recordName" class="recordName" style="width: 100px"/>
    <label> 出生日期:</label><input type="text" class="easyui-datebox beginTime" editable="fasle" name="beginTime" style="width: 100px"/>至
    <input type="text" class="easyui-datebox endTime"  name="endTime" style="width: 100px"/>
    <a href="#" id="userinfo-Search" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
    <table id="userAll" class="easyui-datagrid" style="width: 750px;height: 600px" ></table>
</div>

<!--引入叫本页面<%@include file="../common/footer.jsp"%>-->
<div th:replace="common/footer :: myfooter"  ></div>


<!-- End of easyui-dialog -->
<script type="text/javascript" th:inline="none">
    $(function () {
        $("#addpul").dialog('close');
    })
    function    Close()   {
        $("#addpul").dialog('close');
    }
    $(function () {
        $("#editfoser").dialog('close');
    })
    function    offeditfoser()   {
        $("#editfoser").dialog('close');
    }
    /**
     * 删除肺结核第一次入户随访记录
     */
    function remove(){
        $.messager.confirm('信息提示','确定要删除该记录？', function(result){
            if(result){
                var item = $('#data-datagrid').datagrid('getSelections');
                if(item == null || item.length == 0){
                    $.messager.alert('信息提示','请选择要删除的数据！','info');
                    return;
                }
                var ids = '';
                for(var i=0;i<item.length;i++){
                    ids += item[i].pultubfoId + ',';
                }
                $.ajax({
                    url:'delete',
                    dataType:'json',
                    type:'post',
                    data:{ids:ids},
                    success:function(data){
                        if(data.type == 'success'){
                            $.messager.alert('信息提示','删除成功！','info');
                            $('#data-datagrid').datagrid('reload');
                        }else{
                            $.messager.alert('信息提示',data.msg,'warning');
                        }
                    }
                });
            }
        });
    }

/*
* 执行添加肺结核第一次入户随访记录
* */
    function add() {
        var validate = $("#pulform").form("validate");
        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }
        var data = $("#pulform").serialize();
        //var userId= data.userId;
        $.ajax({
            url:'add',
            //data : "userId="+userId+"&"+data,
            dataType:'json',
            type:'post',
            data:data,
            success:function(data){
                if(data.type == 'success'){
                    $.messager.alert('信息提示','添加成功！','info');
                    $('#addpul').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                }
            }
        });
    }
    /**
     *  添加肺结核第一次入户随访记录
     */
    function addpultub(userId){
        $('#userinfo-dialog').dialog('close');
        $("#addpul").dialog({
            title : "新增",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: add
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#addpul').dialog('close');
                }
            }],
            model : true,
            onBeforeOpen: function(){
                touserinfo(userId);
            }
        });
    }
    /*
    *赋值
    * */
    function touserinfo(userId){
        $("#userId").val(userId);
        $('#userinfo-dialog').dialog('close');
        $("#addpul").dialog({
            title : "新增",
            model : true,
            onBeforeOpen: function(){
                $.ajax({
                    url:'../puserinfo/queryUserById',
                    type:'post',
                    data:"userId="+userId,
                    dataType:'json',
                    success:function(data){
                        $("input[name='recordName']").val(data.recordName);
                        $("input[name='userId']").val(data.userId);
                    }

                });
            }
        });

    }
    /**
     *  打开健康档案窗口
     */
    function openAdd(){
        $('#userinfo-dialog').dialog({
            closed: false,
            modal:true,
            title: "健康档案选取",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: addpultub
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#userinfo-dialog').dialog('close');
                }
            }],
           onBeforeOpen:function(){
                $("#userAll").datagrid({
                    url: '../puserinfo/list',
                    fitColumns: true,
                    striped: true,
                    singleSelect: true,
                    pagination: true,
                    rownumbers: true,
                    pageSize: 20,
                    multiSort: true,
                    onDblClickRow: function (index, row) {
                        addpultub(row.userId);
                    },
                    columns:[[
                        { field:'userId',title:'健康档案号',width:100,align:'center'},
                        { field:'recordName',title:'姓名',width:100},
                        { field:'userBirthday',title:'出生日期',width:100,formatter:function(value,row,index){
                                return format(value);}},
                        { field:'recordAdress',title:'现住地址',width:100,sortable:true},
                        { field:'userMyphone',title:'联系电话',width:100,sortable:true}
                    ]],
                    onLoadSuccess:function(data) {
                        $('.authority-edit').linkbutton({text: '编辑权限', plain: true, iconCls: 'icon-edit'});
                    }
                });
            }
        });
    }


    /**
     * 修改肺结核患者第一次入户随访记录
     */
    function edit(){
        var validate = $("#pulform").form("validate");
        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }
        var data = $("#pulform").serialize();
        $.ajax({
            url:'edit',
            dataType:'json',
            type:'post',
            data:data,
            success:function(data){
                if(data.type == 'success'){
                    $.messager.alert('信息提示','修改成功！','info');
                    $('#addpul').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                }
            }
        });
    }
    /**
     * 打开修改肺结核患者第一次入户随访记录窗口
     * */
    function openEdit(){
        var item = $('#data-datagrid').datagrid('getSelections');
        if(item == null || item.length == 0){
            $.messager.alert('信息提示','请选择要修改的数据！','info');
            return;
        }
        if(item.length > 1){
            $.messager.alert('信息提示','请选择一条数据进行修改！','info');
            return;
        }
        item = item[0];
        let pultubfoId=item.pultubfoId;
        $('#addpul').dialog({
            closed: false,
            modal:true,
            title: "修改",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: edit
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#addpul').dialog('close');
                }
            }],
            onBeforeOpen: function () {
                $.ajax({
                    url: '../pultub/findById?pultubfoId='+pultubfoId,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        $("#pulform").form('load', data.pultu);
                    }

                });

            }
        });
    }


    //搜索按钮监听
    $("#search-btn").click(function(){
        var roleId = $("#search-role").combobox('getValue');
        var sex = $("#search-sex").combobox('getValue')
        var option = {username:$("#search-name").val()};
        if(roleId != -1){
            option.roleId = roleId;
        }
        if(sex != -1){
            option.sex = sex;
        }
        $('#data-datagrid').datagrid('reload',option);
    });


    function add0(m){return m<10?'0'+m:m }
    function format(shijianchuo){
        //shijianchuo是整数，否则要parseInt转换
        var time = new Date(shijianchuo);
        var y = time.getFullYear();
        var m = time.getMonth()+1;
        var d = time.getDate();
        return y+'-'+add0(m)+'-'+add0(d);
    }

         /*
          * 添加肺结核患者随访服务记录
          * */
    function addfoser() {
        var validate = $("#foserform").form("validate");
        if (!validate) {
            $.messager.alert("消息提醒", "请检查你输入的数据!", "warning");
            return;
        }
        var data = $("#foserform").serialize();
        var p=$('#data-datagrid').datagrid('getSelections');
        pu=p[0];
        let pultubfoId=pu.pultubfoId;
        $.ajax({
            url: '../FoservPul/add',
            dataType: 'json',
            type: 'post',
            data: 'pultubfoId='+pultubfoId+"&"+data,
            success: function (data) {
                if (data.type == 'success') {
                    $.messager.alert('信息提示', '添加成功！', 'info');
                    $('#editfoser').dialog('close');
                    $('#dataAll').datagrid('reload');
                    $('#data-datagrid').datagrid('reload');
                    //$('#data-datagrid').datagrid('getSelection').length=0;
                } else {
                    $.messager.alert('信息提示', data.msg, 'warning');
                }
            }
        });
    }
    /*
       * 打开添加肺结核患者随访服务记录页面
       * */
    function openAddfoser(){
        var item = $('#data-datagrid').datagrid('getSelections');
        item = item[0];
        let pultubfoId=item.pultubfoId;
        //$('#foservpul-dialog').dialog('close');
        $("#editfoser").dialog({
            title : "新增",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: addfoser
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#editfoser').dialog('close');
                }
            }],
            model : true,
            onBeforeOpen: function(){
                fzfoser(pultubfoId);
            }

        });
    }
    function fzfoser(pultubfoId) {
        //$('#foservpul-dialog').dialog('close');
        $("#editfoser").dialog({
            title: "新增",
            model: true,
            onBeforeOpen: function () {
                $.ajax({
                    url:'../FoservPul/findUserId?pultubfoId=' + pultubfoId,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.finduser);
                        $("#foserform").form("load", data.finduser[0]);

                    }

                });
            }
        });
    }
    /**
     * 修改肺结核患者随访服务记录
     */
    function updatefoser(){
        var validate = $("#foserform").form("validate");
        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }
        var data = $("#foserform").serialize();
        $.ajax({
            url:'../FoservPul/update',
            dataType:'json',
            type:'post',
            data:data,
            success:function(data){
                if(data.type == 'success'){
                    $.messager.alert('信息提示','修改成功！','info');
                    $('#editfoser').dialog('close');
                    $('#dataAll').datagrid('reload');
                    $('#data-datagrid').datagrid('reload');
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                }
            }
        });
    }
    /**
     * 打开修改肺结核患者随访服务记录页面
     */
    function openUpdatefoser(foserId) {
        //$('#foservpul-dialog').dialog('close');
        $('#editfoser').dialog({
            closed: false,
            modal: true,
            title: "修改随访记录",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: updatefoser
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#editfoser').dialog('close');
                }
            }],
            onBeforeOpen: function () {
               $.ajax({
                    url: '../FoservPul/findById?foserId=' + foserId,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        $("#foserform").form('load', data.foser);
                    }

                });

            }
        })
    }

    /**
     * 删除记录
     */
    function removefoser(){
        $.messager.confirm('信息提示','确定要删除该记录？', function(result){
            if(result){
                var item = $('#dataAll').datagrid('getSelections');
                if(item == null || item.length == 0){
                    $.messager.alert('信息提示','请选择要删除的数据！','info');
                    return;
                }
                var ids = '';
                for(var i=0;i<item.length;i++){
                    ids += item[i].foserId + ',';
                }
                $.ajax({
                    url:'../FoservPul/delete',
                    dataType:'json',
                    type:'post',
                    data:{ids:ids},
                    success:function(data){
                        if(data.type == 'success'){
                            $.messager.alert('信息提示','删除成功！','info');
                            $('#dataAll').datagrid('reload');
                        }else{
                            $.messager.alert('信息提示',data.msg,'warning');
                        }
                    }
                });
            }
        });
    }

    /**
     * 打开肺结核患者随访服务记录窗口
     * @param pultubfoId
     */
    function openfoser(pultubfoId){
        $('#foservpul-dialog').dialog({
            closed: false,
            modal:true,
            title: "肺结核患者随访记录表",
            buttons: [{
                text: '关闭',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#foservpul-dialog').dialog('close');
                    $("#dataAll").datagrid('getSelections').length = 0;
                }
            }],
            onBeforeOpen:function(){
                $("#dataAll").datagrid({
                    url: '../FoservPul/findId?pultubfoId=' + pultubfoId,
                    fitColumns: true,
                    striped: true,
                    singleSelect: true,
                    pagination: true,
                    rownumbers: true,
                    pageSize: 20,
                    multiSort: true,
                    onDblClickRow: function (index, row) {
                        openUpdatefoser(row.foserId);
                    },
                    toolbar: [{
                        text: '新增',
                        iconCls: 'icon-add',
                        handler: openAddfoser
                    }, '-', {
                        text: '删除',
                        iconCls: 'icon-cancel',
                        handler: removefoser
                    }, '-', {
                        text: ' <label class="ziti">**双击修改随访记录**</label>',
                    }],
                    columns:[[
                        {field: 'foserId',hidden:true},
                        { field:'foserTime',title:'随访日期',width:100,formatter:function(value,row,index){
                                return format(value);}},
                        { field:'foserNexttime',title:'下次随访时间',width:100,formatter:function(value,row,index){
                                return format(value);}},
                        { field:'lastname',title:'随访医生',width:100,sortable:true},
                        { field:'foserMode',title:'随访方式',width:100,sortable:true,formatter(value,row,index){
                                switch(value){
                                    case 1:{
                                        return '门诊';
                                    }
                                    case 2:{
                                        return '家庭';
                                    }
                                    case 3:{
                                        return '电话';
                                    }
                                }
                                return value;
                            }}
                    ]]
                });
            }
        });
    }

    /**
     * 载入数据
     */
    $('#data-datagrid').datagrid({
        url:'list',
        rownumbers:true,
        singleSelect:true,
        pageSize:20,
        pagination:true,
        multiSort:true,
        fitColumns:true,
        sortOrder:'desc',
        sortName:'userId',
        idField:'pultubfoId',
        treeField:'name',
        fit:true,
        onDblClickRow: function (index, row) {
            openfoser(row.pultubfoId);
        },
        columns:[[
            { field:'chk',checkbox:true},
            { field:'pultubfoId',hidden:true,formatter(value){
                return pultubfoId=value;
                }},
            { field:'userId',title:'个人健康档案号',width:100,sortable:true},
            { field:'recordName',title:'姓名',width:100,sortable:true},
            { field:'userSex',title:'性别',width:100,sortable:true,formatter(value,row,index){
                    switch(value){
                        case 0:{
                            return '未知';
                        }
                        case 1:{
                            return '男';
                        }
                        case 2:{
                            return '女';
                        }
                    }
                    return value;
                }},
            { field:'userBirthday',title:'出生日期',width:100,sortable:true,formatter:function(value,row,index){
                    return format(value);}},
            { field:'recordAdress',title:'联系地址',width:100,sortable:true},
            { field:'userMyphone',title:'本人电话',width:100,sortable:true},
            { field:'userPrivyPhone',title:'联系人电话',width:100,sortable:true},
            { field:'puljkTime',title:'建卡日期',width:100,sortable:true,formatter:function(value,row,index){
                    return format(value);}},
            { field:'pulState',title:'管理状态',width:100,sortable:true,formatter(value,row,index){
                    switch(value){
                        case 0:{
                            return '左东恩';
                        }
                        case 1:{
                            return '孟敏学';
                        }
                        case 2:{
                            return '齐建科';
                        }
                    }
                    return value;
                }},
            { field:'lastname',title:'责任医生',width:100,sortable:true}
        ]],
    onLoadSuccess:function(data){
            $('.authority-edit').linkbutton({text:'编辑权限',plain:true,iconCls:'icon-edit'});
        }
    });

    $(function () {
        $("#pultub-Search").click(function () {
            $("#data-datagrid").datagrid({
                queryParams: {
                    userId: $("input[name=userId]").val(),
                    recordName: $("input[name=recordName]").val(),
                    userSex: $("input[name=userSex]").val(),
                    recordUnit: $("input[name=recordUnit]").val(),
                    pultubfofoDoctor: $("input[name=pultubfofoDoctor]").val(),
                    beginTime: $("input[name=beginTime]").val(),
                    endTime: $("input[name=endTime]").val()

                }

            });
            var beginTime=$("input[name=beginTime]").val();
            var endTime=$("input[name=endTime]").val();
            if (beginTime>endTime){
                $.messager.alert('提示',"开始日期不能大于结束日期");
            }

        });
    });



    $(function () {
        $("#userinfo-Search").click(function () {
            $("#userAll").datagrid({
                queryParams: {
                    userId: $(".userId").val(),
                    recordName: $(".recordName").val(),
                    beginTime: $(".beginTime").val(),
                    endTime: $(".endTime").val()
                }
            });
            var beginTime=$(".beginTime").val();
            var endTime=$(".endTime").val();
            if (beginTime>endTime){
                $("#userinfo-dialog").messager.alert('提示',"开始日期不能大于结束日期");
            }

        });
    });

</script>