<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.oldpeo.OldpeoCardMapper">

    <select id="findList" parameterType="Map" resultType="map">
        SELECT
        <if test="recordUnit == 410000">
            '河南' 地区
        </if>
        <if test="recordUnit != 410000">
            a.areaName 地区
        </if>
      ,  COUNT(*) 老年人总数,
        (select COUNT(*) from  oldpeo o  JOIN healthcheck ch on o.recordId=ch.userinfoId) 老年人体检总次数 ,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckAcpEcg != 0) 心电图体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckProblemaCered  != 0) 脑血管体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckProblemaKidneyd   != 0) 肾脏体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckProblemaHeartd  != 0) 心脏体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckProblemaVarsculard != 0) 血管体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckAcpBtypeultrasonic != 0) 腹部B超检查次数,
        (select count(*) from (select otc.* from oldtcm otc, oldpeo peo,userinfo u,area a
        where otc.oldpeoId=peo.oldpeoId and peo.recordId=u.userId
        and a.areaId=u.recordUnit
        <if test="recordUnit == 410000">
            and 1=1
        </if>
        <if test="recordUnit != 410000">
            and u.recordUnit=#{areaId}
        </if>
        ) ds) 中医药服务次数
        from userinfo u Join area a on a.areaId=u.recordUnit
        Join oldpeo op on op.recordId=u.userId
        where 1=1
        <if test="areaId == 410000">
            and 1=1
        </if>
        <if test="areaId != 410000">
            and a.areaId=#{areaId}
        </if>
        <if test="username != null">
            and username like '%${username}%'
        </if>
        <if test="roleId != null">
            and roleId = #{roleId}
        </if>
        <if test="sex != null">
            and sex = #{sex}
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <!-- 获取符合结果的总记录数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*) from(
        SELECT
        <if test="recordUnit == 410000">
        '河南' 地区
    </if>
        <if test="recordUnit != 410000">
            a.areaName 地区
        </if>,  COUNT(*) 老年人总数,
        (select COUNT(*) from  oldpeo o  JOIN healthcheck ch on o.recordId=ch.userinfoId) 老年人体检总次数 ,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckAcpEcg != 0) 心电图体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckProblemaCered  != 0) 脑血管体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckProblemaKidneyd   != 0) 肾脏体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckProblemaHeartd  != 0) 心脏体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckProblemaVarsculard != 0) 血管体检次数,
        (SELECT COUNT(*)
        from oldpeo o JOIN healthcheck ch on o.recordId=ch.userinfoId where
        ch.healthcheckAcpBtypeultrasonic != 0) 腹部B超检查次数,
        (select count(*) from (select otc.* from oldtcm otc, oldpeo peo,userinfo u,area a
        where otc.oldpeoId=peo.oldpeoId and peo.recordId=u.userId
        and a.areaId=u.recordUnit
        <if test="recordUnit == 410000">
            and 1=1
        </if>
        <if test="recordUnit != 410000">
            and u.recordUnit=#{areaId}
        </if>
        ) ds) 中医药服务次数
        from userinfo u Join area a on a.areaId=u.recordUnit
            Join oldpeo op on op.recordId=u.userId
        where 1=1
        <if test="areaId == 410000">
            and 1=1
        </if>
        <if test="areaId != 410000">
            and a.areaId=#{areaId}
        </if>
        ) ss

        <if test="username != null">
            and username like '%${username}%'
        </if>
        <if test="roleId != null">
            and roleId = #{roleId}
        </if>
        <if test="sex != null">
            and sex = #{sex}
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

</mapper>