<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.supman.SupmanReportMapper">
 <select id="findList" parameterType="Map" resultType="com.aaa.health.entity.supman.SupmanReport">
    select s.reportId,s.addressId,s.addressId2,a.areaName,a.areaName,s.reportFindtime,s.reportCategory,s.reportContent,s.reportTime,s.reportName from supmanreport s left join area a on s.addressId=a.areaId
    where 1=1
     <if test="reportCategory != null">
         and reportCategory=#{reportCategory}
     </if>
     <if test="addressId == 410000">
         and 1=1
     </if>
     <if test="addressId != null and addressId !=410000">
         and addressId=#{addressId}
     </if>
     <if test="reportName != null">
         and reportName like '%${reportName}%'
     </if>
     <if test="beginTime != null">
         and s.reportTime  >= #{beginTime}
     </if>
     <if test="endTime != null">
         and   #{endTime} >= s.reportTime
     </if>
     <if test="offset != null and pageSize != null">
         limit #{offset},#{pageSize}
     </if>

  </select>

  <insert id="add" parameterType="com.aaa.health.entity.supman.SupmanReport">
   insert into supmanreport(addressId,addressId2,reportFindtime,reportCategory,reportContent,reportTime,reportName)
    values(#{addressId},#{addressId2},#{reportFindtime},#{reportCategory},#{reportContent},#{reportTime},#{reportName})
    </insert>
    <select id="findById" parameterType="Integer" resultType="Map">
        select * from supmanreport where reportId=#{reportId}
    </select>
  <update id="update" parameterType="com.aaa.health.entity.supman.SupmanReport">
update supmanreport set addressId=#{addressId},addressId2=#{addressId2},reportFindtime=#{reportFindtime},reportCategory=#{reportCategory},reportContent=#{reportContent},reportTime=#{reportTime},reportName=#{reportName}
    where reportId=#{reportId}
    </update>

  <delete id="delete" parameterType="String">
        delete from supmanreport where reportId in(${value})
    </delete>


  <!--获取符合结果的总记录数-->
  <select id="getTotal" parameterType="Map" resultType="Integer">
    select count(*) from supmanreport
      where 1=1
      <if test="reportCategory != null">
          and reportCategory=#{reportCategory}
      </if>
      <if test="addressId == 410000">
          and 1=1
      </if>
      <if test="addressId != null and addressId !=410000">
          and addressId=#{addressId}
      </if>
      <if test="reportName != null">
          and reportName like '%${reportName}%'
      </if>
      <if test="beginTime != null">
          and reportTime  >= #{beginTime}
      </if>
      <if test="endTime != null">
          and   #{endTime} >= reportTime
      </if>

  </select>
</mapper>