<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->

<body>
<div th:fragment="infdis" th:height="500">
    <div class="infdis">
        <style>
            input[type="text"] {
                border: 0px;
                width: 50px;
            }

            input[type="checkbox"] {
                margin-left: 15px;
            }
        </style>
        <form id="infform" class="easyui-form" method="post" data-options="novalidate:true">
            <table width="650" th:height="480" border="1" cellspacing="0" cellpadding="1">
                <caption>
                    <h3>传染病随访表</h3>
                </caption>
                <input type="text" name="disfopId" hidden>
                <input type="text" name="infdisId" hidden>
                <tr>
                    <td>姓名</td>
                    <td><input type="text"  style="width: 150px"  name="recordName" readonly></td>
                    <td>性别</td>
                    <td>
                        <input type="text"  style="width: 120px"  name="userSex" readonly>
                    </td>
                    <td>出生日期</td>
                    <td><input type="text"  class="easyui-datebox" style="width: 120px"  name="userBirthday" readonly></td>
                </tr>
                <tr>
                    <td>婚姻</td>
                    <td><input type="text"  style="width: 150px"  name="userGam" readonly></td>
                    <td>职业</td>
                    <td><input type="text"  style="width: 120px"  name="userCareer" readonly></td>
                    <td>联系电话</td>
                    <td><input type="text"  style="width: 120px"  name="userMyphone" readonly></td>
                </tr>
                <tr>
                    <td>现住地址</td>
                    <td colspan="5">
                        <textarea name="recordAdress" rows="1" cols="80"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>随访日期</td>
                    <td><input type="text" class="easyui-datebox"  name="disfopTime" style="width: 150px;"/></td>
                    <td>随访方式</td>
                    <td>
                        <select name="disfopMode" style="width: 120px">
                            <option value="1">门诊</option>
                            <option value="2">家庭</option>
                            <option value="3">电话</option>
                        </select></td>
                    <td>是否隔离</td>
                    <td>
                        <select name="disfopQuarantine" style="width:120px;" >
                            <option value="1">无</option>
                            <option value="2">有</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>目前症状</td>
                    <td colspan="5">
                        <input type="checkbox" name="disfopSymptom" value="1">
                        <input type="checkbox" name="disfopSymptom" value="9">无故外走幻觉
                        <input type="checkbox" name="disfopSymptom" value="2">交流困难
                        <input type="checkbox" name="disfopSymptom" value="3">猜疑
                        <input type="checkbox" name="disfopSymptom" value="4">喜怒无常
                        <input type="checkbox" name="disfopSymptom" value="5">行为怪异
                        <input type="checkbox" name="disfopSymptom" value="6">兴奋话多
                        <input type="checkbox" name="disfopSymptom" value="7">伤人毁物
                        <input type="checkbox" name="disfopSymptom" value="8">悲观厌世
                        <input type="checkbox" name="disfopSymptom" value="10">自语自笑
                        <input type="checkbox" name="disfopSymptom" value="11">孤僻懒散
                        <input type="checkbox" name="disfopSymptom" id="wu" onclick="chk()" value="12">无
                    </td>
                </tr>
                <tr>
                    <td>首诊日期</td>
                    <td><input type="text" class="easyui-datebox" name="firstVisit" style="width: 150px;"/></td>
                    <td>发病类型</td>
                    <td>
                        <select name="attackCate" style="width:120px;" >
                            <option value="1">甲类</option>
                            <option value="2">乙类</option>
                            <option value="3">丙类</option>
                        </select>
                    </td>
                    <td>处置情况</td>
                    <td>
                        <!--class="easyui-combobox"-->
                        <select name="disfopSituation"  style="width:120px;" >
                            <option value="1">隔离</option>
                            <option value="2">转诊</option>
                            <option value="3">死亡</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>处置备注</td>
                    <td colspan="5">
                        <textarea name="disfopRemarks" rows="3" cols="80"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>消毒处理情况</td>
                    <td colspan="5">
                        <textarea name="disfopDisinfect" rows="3" cols="80"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>药物治疗建议</td>
                    <td colspan="5">
                        <textarea name="disfopMedicine" rows="3" cols="80"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>康复治疗建议</td>
                    <td colspan="5">
                        <textarea name="disfopRecovery" rows="3" cols="80"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>下次随访日期</td>
                    <td><input type="text" class="easyui-datebox"  name="nextfoTime" style="width: 150px;"/></td>
                    <td>随访医生</td>
                    <td>
                        <!--[[${session.role.name}]]-->
                        <select name="disfopDoctor" class="easyui-combobox" panelHeight="auto" style="width:268px" >
                            <a th:each="doctor:${session.doctor}" >
                                <option   th:value="${doctor.id}" ><span th:text="${doctor.lastname }"></span></option>
                            </a>
                        </select>
                        <!--<select name="disfopDoctor" id="disfopDoctor" style="width:120px;" >-->
                        <!--</select>-->
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>
</body>
</html>