<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.anfoll.AnteFollowMapper">
    <select id="findList" parameterType="Map" resultType="com.aaa.health.entity.anfoll.AnteFollow">
        select u.userId,u.recordName,u.userBirthday,u.recordAdress,u.userMyphone,u.recordData,u.recordUnit,a.areaName from userinfo u left join area a on u.recordUnit=a.areaId
        where 1=1
        and u.userSex=2
        and floor((TO_DAYS(SYSDATE()) - TO_DAYS(userBirthday))/365 )>=18
        and floor((TO_DAYS(SYSDATE()) - TO_DAYS(userBirthday))/365 )&lt; 50
        <if test="recordUnit == 410000">
            and 1=1
        </if>
        <if test="recordUnit != null and recordUnit !=410000">
            and u.recordUnit=#{recordUnit}
        </if>
        <if test="userId != null">
            and u.userId like '%${userId}%'
        </if>
        <if test="recordName != null">
            and u.recordName like '%${recordName}%'
        </if>
        <if test="beginTime != null">
            and u.userBirthday  >= #{beginTime}
        </if>
        <if test="endTime != null">
            and   #{endTime} >= u.userBirthday
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <delete id="delete" parameterType="String">
        delete from userinfo where userId in(${value})
    </delete>


    <!-- 获取符合结果的总记录数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*) from userinfo u left join area a on u.recordUnit=a.areaId
        where 1=1
        and u.userSex=2
        and floor((TO_DAYS(SYSDATE()) - TO_DAYS(userBirthday))/365 )>=18
        and floor((TO_DAYS(SYSDATE()) - TO_DAYS(userBirthday))/365 )&lt; 50
        <if test="recordUnit == 410000">
            and 1=1
        </if>
        <if test="recordUnit != null and recordUnit !=410000">
            and u.recordUnit=#{recordUnit}
        </if>
        <if test="userId != null">
            and u.userId like '%${userId}%'
        </if>
        <if test="recordName != null">
            and u.recordName like '%${recordName}%'
        </if>
        <if test="beginTime != null">
            and u.userBirthday  >= #{beginTime}
        </if>
        <if test="endTime != null">
            and   #{endTime} >= u.userBirthday
        </if>
    </select>
</mapper>