<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.admin.UserMapper">
    <!-- 根据用户名查找用户 -->
    <select id="findByUsername" parameterType="String" resultType="SysUser">
        select * from user where username = #{username}
    </select>
    <!-- 添加用户 -->
    <insert id="add" parameterType="SysUser">
        insert into user(id,username,password,roleId,lastname,photo,sex,age,address,areaId) values(null,#{username},#{password},#{roleId},#{lastname},#{photo},#{sex},#{age},#{address},#{areaId})
    </insert>
    <!-- 修改用户 -->
    <update id="edit" parameterType="SysUser">
        update user set username = #{username},roleId = #{roleId},lastname=#{lastname},photo = #{photo},sex = #{sex},age = #{age},address = #{address},areaId = #{areaId} where id = #{id}
    </update>
    <!-- 修改用户密码 -->
    <update id="editPassword" parameterType="SysUser">
        update user set password = #{password} where id = #{id}
    </update>
    <!-- 删除用户 -->
    <delete id="delete" parameterType="String">
        delete from user where id in(${value})
    </delete>
    <!-- 分页获取用户列表 -->
    <select id="findList" parameterType="Map" resultType="SysUser">
        select * from user where 1 = 1
        <if test="username != null">
            and username like '%${username}%'
        </if>
        <if test="roleId != null">
            and roleId = #{roleId}
        </if>
        <if test="sex != null">
            and sex = #{sex}
        </if>
        <if test="areaId != null">
            and areaId = #{areaId}
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>
    <select id="findByUsername2" parameterType="Long" resultType="Menu">
        SELECT m.* FROM `user` u
        LEFT JOIN role sru on u.roleid=sru.id
        LEFT JOIN authority r on sru.id=r.roleid
        LEFT JOIN menu m on r.menuid=m.id
        where u.id = #{id}
    </select>
    <!-- 获取符合结果的总记录数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*) from user where 1 = 1
        <if test="username != null">
            and username like '%${username}%'
        </if>
        <if test="roleId != null">
            and roleId = #{roleId}
        </if>
        <if test="sex != null">
            and sex = #{sex}
        </if>
        <if test="areaId != null">
            and areaId = #{areaId}
        </if>
    </select>
</mapper>