<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.Children.ChildInfoMapper">
    <delete id="delete" parameterType="String">
        delete from addnewborn where addnewbornId in(${value})
    </delete>


    <!-- 分页获取用户列表 -->
    <select id="findList" parameterType="Map" resultType="com.aaa.health.entity.Children.ChildInfo">
        select * from userinfo join addnewborn on
        userinfo.recordInputtingcard=addnewborn.addnewbornCardnum
  where (date_format('2019-11-05','%Y')-DATE_FORMAT(userinfo.userBirthday,'%Y')) BETWEEN 0 and 6
        <if test="recordInputtingcard != null and recordInputtingcard != 0">
            and recordInputtingcard LIKE '%${recordInputtingcard}%'
        </if>
        <if test="recordName != null and recordName != ''">
            AND recordName LIKE '%${recordName}%'
        </if>
        <if test="userMyphone != null and userMyphone != ''">
            AND userMyphone LIKE '%${userMyphone}%'
        </if>
        <if test="recordAdress != null and recordAdress != ''">
            AND recordAdress LIKE '%${recordAdress}%'
        </if>
        <if test="userIdnumber != null and userIdnumber != ''">
            AND userIdnumber LIKE '%${userIdnumber}%'
        </if>

        /*join
        userPrivy on userPrivy.userId=userinfo.userId where 1 = 1*/
 /*       select * from userinfo join addnewborn on
        userinfo.recordInputtingcard=addnewborn.addnewbornCardnum where 1=1*/
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*) from userinfo join addnewborn on
 userinfo.userId=addnewborn.recordId

        <if test="recordInputtingcard != null and recordInputtingcard != 0">
            and recordInputtingcard LIKE '%${userId}%'
        </if>
        <if test="recordName != null and recordName != ''">
            AND recordName LIKE '%${recordName}%'
        </if>
        <if test="userMyphone != null and userMyphone != ''">
            AND userMyphone LIKE '%${userMyphone}%'
        </if>
        <if test="recordAdress != null and recordAdress != ''">
            AND recordAdress LIKE '%${recordAdress}%'
        </if>
        <if test="userIdnumber != null and userIdnumber != ''">
            AND userIdnumber LIKE '%${userIdnumber}%'
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>



        /*join
userPrivy on userPrivy.userId=userinfo.userId where 1 = 1*/
    </select>


    <select id="queryCount" parameterType="Integer" resultType="Integer">
        select COUNT(*) from insrecord where recordId=#{rid}
    </select>
</mapper>