<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--引入抬头页面-->
<div th:replace="common/header :: header"  ></div>

<div class="easyui-layout" data-options="fit:true">
    <!-- Begin of toolbar -->
    <div id="wu-toolbar">
        <div class="wu-toolbar-button">
            <!--引入菜单页面-->
            <div th:replace="common/menus :: menus"  > </div>
        </div>

        <!--条件搜索-->
        <div class="wu-toolbar-search">
            <label> 健康档案号:</label>&nbsp;
            <input name="userId"/>&nbsp;&nbsp;
            <label> 姓名:</label>&nbsp;
            <input name="recordName"/>&nbsp;&nbsp;
            <label> 身份证号:</label>&nbsp;
            <input name="userIdnumber"/>&nbsp;&nbsp;
            <label> 建档日期:</label>&nbsp;
            <input type="text" class="easyui-datebox"  name="beginTime" style="width: 150px"/>
            &nbsp;&nbsp;至&nbsp;
            <input type="text" class="easyui-datebox" name="endTime" style="width: 150px"/>
            &nbsp;&nbsp;
            <a href="#" id="womandis-Search" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        </div>

    </div>
    <!-- End of toolbar 数据table表格 -->
    <table id="data-datagrid" class="easyui-datagrid" toolbar="#wu-toolbar"></table>

</div>
<!-- Begin of easyui-dialog -->

<div id="woman-dialog" class="easyui-dialog" data-options="closed:true" style="width:720px;">
    <table id="dataAll" class="easyui-datagrid" style="width: 700px; height: 550px;" ></table>
</div>
<!--添加/修改窗口-->
<div id="addwoman" class="easyui-dialog" style="width: 800px;height: 900px; margin-left: 10px;padding:10px;">
    <div th:replace="womandis/addwmdis :: womandisease"></div>
</div>
<!--健康档案-->
<div id="userinfo-dialog" class="easyui-dialog" data-options="closed:true" style="width:700px;height: 580px">
    <table id="userAll" class="easyui-datagrid" style="width: 650px;height: 500px" ></table>
</div>
<!--引入叫本页面<%@include file="../common/footer.jsp"%>-->
<div th:replace="common/footer :: myfooter"  ></div>


<!-- End of easyui-dialog -->
<script type="text/javascript" th:inline="none">
    $(function () {
        $("#addwoman").dialog('close');
    });
    function  goBack() {
        $("#addwoman").dialog('close');
    }

    /**
     *  添加记录
     */
    function add(){
        var validate = $("#womanform").form("validate");
        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }
        var data = $("#womanform").serialize();
        var us = $('#data-datagrid').datagrid('getSelections');
        us = us[0];
        let userId=us.userId;
        $.ajax({
            url:'add',
            dataType:'json',
            type:'post',
            data:'userId='+userId+"&"+data,
            success:function(data){
                if(data.type == 'success'){
                    $.messager.alert('信息提示','添加成功！','info');
                    $('#addwoman').dialog('close');
                    $('#dataAll').datagrid('reload');
                    $('#data-datagrid').datagrid('reload');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                }
            }
        });
    }
    /**
     * Name 修改记录
     */
    function update(){
        var validate = $("#womanform").form("validate");
        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }
        var data = $("#womanform").serialize();
        $.ajax({
            url:'../womandis/update',
            dataType:'json',
            type:'post',
            data:data,
            success:function(data){
                if(data.type == 'success'){
                    $.messager.alert('信息提示','修改成功！','info');
                    $('#addwoman').dialog('close');
                    $('#dataAll').datagrid('reload');
                    $('#data-datagrid').datagrid('reload');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                }
            }
        });
    }


    /**
     * 删除记录
     */
    function removewoman(){
        $.messager.confirm('信息提示','确定要删除该记录？', function(result){
            if(result){
                var item = $('#dataAll').datagrid('getSelections');
                if(item == null || item.length == 0){
                    $.messager.alert('信息提示','请选择要删除的数据！','info');
                    return;
                }
                var ids = '';
                for(var i=0;i<item.length;i++){
                    ids += item[i].wodisId + ',';
                }
                $.ajax({
                    url:'../record/delete',
                    dataType:'json',
                    type:'post',
                    data:{ids:ids},
                    success:function(data){
                        if(data.type == 'success'){
                            $.messager.alert('信息提示','删除成功！','info');
                            $('#dataAll').datagrid('reload');
                        }else{
                            $.messager.alert('信息提示',data.msg,'warning');
                        }
                    }
                });
            }
        });
    }

    /**
     * 打开添加妇女病普查登记窗口
     */
    function openAdd() {
        var item = $('#data-datagrid').datagrid('getSelections');
        item = item[0];
        let userId=item.userId;
        $('#addwoman').dialog({
            closed: false,
            modal: true,
            title: "新增",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: add
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#addwoman').dialog('close');
                }
            }],
            onBeforeOpen: function () {
                $.ajax({
                    url: '../puserinfo/queryUserById',
                    type: 'post',
                    data: "userId=" + userId,
                    dataType: 'json',
                    success: function (data) {
                        //$("input[name='userId']").val(data.userId);
                        $("input[name='recordName']").val(data.recordName);
                        $("input[name='userBirthday']").val(data.userBirthday);
                        $("input[name='userIdnumber']").val(data.userIdnumber);
                        var uc;
                        if(data.userCulture==1){
                            uc="研究生";
                        }else if(data.userCulture==2){
                            uc="本科";
                        }else if(data.userCulture==3){
                            uc="专科";
                        }else if(data.userCulture==4){
                            uc="技工学校";
                        }else if(data.userCulture==5){
                            uc="高中";
                        }else if(data.userCulture==6){
                            uc="初中";
                        }else if(data.userCulture==7){
                            uc="小学";
                        }else if(data.userCulture==8){
                            uc="文盲";
                        }else if(data.userCulture==9){
                            uc="不详";
                        }
                        $("input[name='userCulture']").val(uc);
                        var ucer;
                        if(data.userCulture==1){
                            ucer="无职业";
                        }else if(data.userCulture==2){
                            ucer="专业技术人员";
                        }else if(data.userCulture==3){
                            ucer="办事人员和有关人员";
                        }else if(data.userCulture==4){
                            ucer="商业，服务业人员";
                        }else if(data.userCulture==5){
                            ucer="农、林、牧、渔、水利业生产人员";
                        }else if(data.userCulture==6){
                            ucer="生产、运输设备操作员";
                        }else if(data.userCulture==7){
                            ucer="军人";
                        }else if(data.userCulture==8){
                            ucer="国家机关，党群组织，事业单位负责人";
                        }else if(data.userCulture==9){
                            ucer="不便分类的其他人员";
                        }
                        $("input[name='userCareer']").val(ucer);
                        var ug;
                        if(data.userCulture==1){
                            ug="未婚";
                        }else if(data.userCulture==2){
                            ug="已婚";
                        }else if(data.userCulture==3){
                            ug="丧偶";
                        }else if(data.userCulture==4){
                            ug="离婚";
                        }else if(data.userCulture==5) {
                            ug = "未说明婚姻状况";
                        }
                        $("input[name='userGam']").val(ug);
                        $("input[name='userMyphone']").val(data.userMyphone);
                        $("input[name='recordPlaceadress']").val(data.recordPlaceadress);
                        /*$("#tabuserinfo").form("load", data);*/

                    }

                });
            }
        });
    }

        /**
         * 打开修改窗口
         */
        function openEdit(){
            var item = $('#dataAll').datagrid('getSelections');
            if(item == null || item.length == 0){
                $.messager.alert('信息提示','请选择要修改的数据！','info');
                return;
            }
            if(item.length > 1) {
                $.messager.alert('信息提示', '请选择一条数据进行修改！', 'info');
                return;
            }
            item = item[0];
            let wodisId=item.wodisId;
            $('#addwoman').dialog({
                closed: false,
                modal:true,
                title: "修改",
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: update
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $('#addwoman').dialog('close');
                    }
                }],
                onBeforeOpen: function () {
                    $.ajax({
                        url: '../womandis/findById?wodisId='+wodisId,
                        type: 'post',
                        dataType: 'json',
                        success: function (data) {
                            $("input[name='recordName']").val(data.womand.recordName);
                            $("input[name='userBirthday']").val(data.womand.userBirthday);
                            $("input[name='userIdnumber']").val(data.womand.userIdnumber);
                            var uc;
                            if(data.womand.userCulture==1){
                                uc="研究生";
                            }else if(data.womand.userCulture==2){
                                uc="本科";
                            }else if(data.womand.userCulture==3){
                                uc="专科";
                            }else if(data.womand.userCulture==4){
                                uc="技工学校";
                            }else if(data.womand.userCulture==5){
                                uc="高中";
                            }else if(data.womand.userCulture==6){
                                uc="初中";
                            }else if(data.womand.userCulture==7){
                                uc="小学";
                            }else if(data.womand.userCulture==8){
                                uc="文盲";
                            }else if(data.womand.userCulture==9){
                                uc="不详";
                            }
                            $("input[name='userCulture']").val(uc);
                            var ucer;
                            if(data.womand.userCulture==1){
                                ucer="无职业";
                            }else if(data.womand.userCulture==2){
                                ucer="专业技术人员";
                            }else if(data.womand.userCulture==3){
                                ucer="办事人员和有关人员";
                            }else if(data.womand.userCulture==4){
                                ucer="商业，服务业人员";
                            }else if(data.womand.userCulture==5){
                                ucer="农、林、牧、渔、水利业生产人员";
                            }else if(data.womand.userCulture==6){
                                ucer="生产、运输设备操作员";
                            }else if(data.womand.userCulture==7){
                                ucer="军人";
                            }else if(data.womand.userCulture==8){
                                ucer="国家机关，党群组织，事业单位负责人";
                            }else if(data.womand.userCulture==9){
                                ucer="不便分类的其他人员";
                            }
                            $("input[name='userCareer']").val(ucer);
                            var ug;
                            if(data.womand.userCulture==1){
                                ug="未婚";
                            }else if(data.womand.userCulture==2){
                                ug="已婚";
                            }else if(data.womand.userCulture==3){
                                ug="丧偶";
                            }else if(data.womand.userCulture==4){
                                ug="离婚";
                            }else if(data.womand.userCulture==5) {
                                ug = "未说明婚姻状况";
                            }
                            $("input[name='userGam']").val(ug);
                            $("input[name='userMyphone']").val(data.womand.userMyphone);
                            $("input[name='recordPlaceadress']").val(data.womand.recordPlaceadress);
                            $("input[name='wodisbh']").val(data.womand.wodisbh);
                            $("#womanform").form('load', data.womand);

                        }

                    });

                }
            });
        }

    //搜索按钮监听
    $("#search-btn").click(function(){
        var roleId = $("#search-role").combobox('getValue');
        var sex = $("#search-sex").combobox('getValue')
        var option = {username:$("#search-name").val()};
        if(roleId != -1){
            option.roleId = roleId;
        }
        if(sex != -1){
            option.sex = sex;
        }
        $('#data-datagrid').datagrid('reload',option);
    });
    /**
     * 打开窗口
     * @param
     */
    function openwoman(userId){
        $('#woman-dialog').dialog({
            closed: false,
            modal:true,
            title: "妇女病普查登记表",
            buttons: [ {
                text: '关闭',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#woman-dialog').dialog('close');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                }
            }],
            onBeforeOpen:function(){
                $("#dataAll").datagrid({
                    url: '../record/list?userId='+userId,
                    fitColumns: true,
                    striped: true,
                    singleSelect: true,
                    pagination: true,
                    rownumbers: true,
                    pageSize: 20,
                    multiSort: true,
                    onDblClickRow: function (index, row) {
                        openEdit(row.wodisId);
                    },
                    toolbar: [{
                        text: '新增',
                        iconCls: 'icon-add',
                        handler: openAdd
                    }, '-', {
                        text: '删除',
                        iconCls: 'icon-cancel',
                        handler: removewoman
                    }, '-', {
                        text: ' <label class="ziti">**双击修改随访记录**</label>',
                    }],
                    columns:[[
                        { field:'wodisId',hidden:true,formatter:function(value){
                                return wodisId=value;}},
                        { field:'wodisbh',title:'编号',width:100,sortable:true},
                        { field:'wodisMenage',title:'初潮年龄',width:100,sortable:true},
                        { field:'wodisMencycle',title:'月经周期',width:100,sortable:true},
                        { field:'wodisLoginregtime',title:'登记时间',width:100,sortable:true,formatter:function(value,row,index){
                                return format(value);}}
                    ]],
                    onLoadSuccess:function(data){
                        $('.authority-edit').linkbutton({text:'编辑权限',plain:true,iconCls:'icon-edit'});
                    }
                });
            }
        });
    }


    function add0(m){return m<10?'0'+m:m }
    function format(shijianchuo){
        //shijianchuo是整数，否则要parseInt转换
        var time = new Date(shijianchuo);
        var y = time.getFullYear();
        var m = time.getMonth()+1;
        var d = time.getDate();
        return y+'-'+add0(m)+'-'+add0(d);
    }
    /**
     * 载入数据
     */
    $('#data-datagrid').datagrid({
        url:'list',
        rownumbers:true,
        singleSelect:true,
        pageSize:20,
        pagination:true,
        multiSort:true,
        fitColumns:true,
        idField:'id',
        treeField:'name',
        fit:true,
        onDblClickRow: function (index, row) {
            openwoman(row.userId);
        },
        columns:[[
            { field:'userId',title:'健康档案号',width:100,sortable:true,formatter:function(value){
                 return userId=value;}},
            { field:'recordName',title:'姓名',width:100,sortable:true},
            { field:'userIdnumber',title:'身份证号',width:100,sortable:true},
            { field:'userAge',title:'年龄',width:100,sortable:true},
            { field:'recordAdress',title:'家庭地址',width:100,sortable:true},
            { field:'userMyphone',title:'本人电话',width:100,sortable:true},
            { field:'recordData',title:'建档日期',width:100,sortable:true,formatter:function(value,row,index){
                    return format(value);}}
        ]],
    onLoadSuccess:function(data){
            $('.authority-edit').linkbutton({text:'编辑权限',plain:true,iconCls:'icon-edit'});
        }
    });
    $(function () {
        $("#womandis-Search").click(function () {
            $("#data-datagrid").datagrid({
                queryParams: {
                    userId: $("input[name=userId]").val(),
                    recordName: $("input[name=recordName]").val(),
                    userIdnumber: $("input[name=userIdnumber]").val(),
                    beginTime: $("input[name=beginTime]").val(),
                    endTime: $("input[name=endTime]").val(),
                }

            });
            var beginTime=$("input[name=beginTime]").val();
            var endTime=$("input[name=endTime]").val();
            if (beginTime>endTime){
                $.messager.alert('提示',"开始日期不能大于结束日期");
            }

        });
    });
</script>