<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--引入抬头页面-->
<div th:replace="common/header :: header"  ></div>

<div class="easyui-layout" data-options="fit:true">
    <!-- Begin of toolbar -->
    <div id="wu-toolbar">
        <div class="wu-toolbar-button">
            <!--引入菜单页面-->
            <div th:replace="common/menus :: menus"  > </div>
        </div>
        <div class="wu-toolbar-search">
            <label> 巡查人:</label>&nbsp;
            <input name="patrolName"/>&nbsp;&nbsp;
            <label> 巡查地区:</label>&nbsp;
            <select th:name="areaId" class="easyui-combobox" panelHeight="auto" style="width:150px" data-options="editable:false">

                <option th:each="l:${list}" th:value="${l.areaId}" th:text="${l.areaName}"></option>
            </select>&nbsp;&nbsp;
            <label> 巡查时间:</label>&nbsp;
            <input type="text" class="easyui-datebox" editable="fasle" name="beginTime" style="width: 150px"/>
            &nbsp;&nbsp;至&nbsp;
            <input type="text" class="easyui-datebox" editable="fasle" name="endTime" style="width: 150px"/>
            &nbsp;&nbsp;
            <a href="#" id="suppat-Search" class="easyui-linkbutton" iconCls="icon-search">搜索</a>

        </div>
    </div>



    <!-- End of toolbar -->
    <table id="data-datagrid" class="easyui-datagrid" toolbar="#wu-toolbar"></table>
</div>
<!-- Begin of easyui-dialog -->

<!-- 添加/修改 -->
<div id="addsupp" class="easyui-dialog" style="width: 730px;height: 620px; margin-left: 20px;padding:10px;">
    <div th:replace="suppat/addsuppat :: suppat"></div>
</div>

<!--引入叫本页面<%@include file="../common/footer.jsp"%>-->
<div th:replace="common/footer :: myfooter"  ></div>


<!-- End of easyui-dialog -->
<script type="text/javascript" th:inline="none">
    $(function () {
        $("#addsupp").dialog('close');
    });
    function  goBack() {
        $("#addsupp").dialog('close');
    }


    /**
     *  添加记录
     */
    function add(){
        var validate = $("#suppatform").form("validate");
        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }
        var data = $("#suppatform").serialize();
        $.ajax({
            url:'add',
            dataType:'json',
            type:'post',
            data:data,
            success:function(data){
                if(data.type == 'success'){
                    $.messager.alert('信息提示','添加成功！','info');
                    $('#addsupp').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                    $('#addsupp').dialog('reload');
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                }
            }
        });
    }

    /**
     * Name 修改记录
     */
    function update(){
        var validate = $("#suppatform").form("validate");
        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }
        var data = $("#suppatform").serialize();
        $.ajax({
            url:'update',
            dataType:'json',
            type:'post',
            data:data,
            success:function(data){
                if(data.type == 'success'){
                    $.messager.alert('信息提示','修改成功！','info');
                    $('#addsupp').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                }
            }
        });
    }

    /**
     * 删除记录
     */
    function remove(){
        $.messager.confirm('信息提示','确定要删除该记录？', function(result){
            if(result){
                var item = $('#data-datagrid').datagrid('getSelections');
                if(item == null || item.length == 0){
                    $.messager.alert('信息提示','请选择要删除的数据！','info');
                    return;
                }
                var ids = '';
                for(var i=0;i<item.length;i++){
                    ids += item[i].patrolId + ',';
                }
                $.ajax({
                    url:'delete',
                    dataType:'json',
                    type:'post',
                    data:{ids:ids},
                    success:function(data){
                        if(data.type == 'success'){
                            $.messager.alert('信息提示','删除成功！','info');
                            $('#data-datagrid').datagrid('reload');
                            item.length=0;
                            $("#data-datagrid").datagrid('getSelections').length = 0;
                        }else{
                            $.messager.alert('信息提示',data.msg,'warning');
                        }
                    }
                });
            }
        });
    }

    /**
     * Name 打开添加窗口
     */
    function openAdd(){
        $('#addsupp').dialog({
            closed: false,
            modal:true,
            title: "新增",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: add
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#addsupp').dialog('close');
                }
            }],
            onBeforeOpen:function(){

            }
        });
    }

    /**
     * 打开修改窗口
     */
    function openEdit(){
        var item = $('#data-datagrid').datagrid('getSelections');
        if(item == null || item.length == 0){
            $.messager.alert('信息提示','请选择要修改的数据！','info');
            return;
        }
        if(item.length > 1){
            $.messager.alert('信息提示','请选择一条数据进行修改！','info');
            return;
        }
        item = item[0];
        var patId=item.patrolId;
        $('#addsupp').dialog({
            closed: false,
            modal:true,
            title: "修改",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: update
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#addsupp').dialog('close');
                }
            }],
            onBeforeOpen:function(){
                $.ajax({
                    url: '../suppat/findById?patrolId=' + patId,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        $("#suppatform").form('load', data.patrol);
                    }

                });

            }
        });
    }


    //搜索按钮监听
    $("#search-btn").click(function(){
        var roleId = $("#search-role").combobox('getValue');
        var sex = $("#search-sex").combobox('getValue')
        var option = {username:$("#search-name").val()};
        if(roleId != -1){
            option.roleId = roleId;
        }
        if(sex != -1){
            option.sex = sex;
        }
        $('#data-datagrid').datagrid('reload',option);
    });


    function add0(m){return m<10?'0'+m:m }
    function format(shijianchuo){
        //shijianchuo是整数，否则要parseInt转换
        var time = new Date(shijianchuo);
        var y = time.getFullYear();
        var m = time.getMonth()+1;
        var d = time.getDate();
        return y+'-'+add0(m)+'-'+add0(d);
    }
    /**
     * 载入数据
     */
    $('#data-datagrid').datagrid({
        url:'list',
        rownumbers:true,
        singleSelect:true,
        pageSize:20,
        pagination:true,
        multiSort:true,
        fitColumns:true,
        sortOrder:'desc',
        sortName:'patrolTime',
        idField:'id',
        treeField:'name',
        fit:true,
        onDblClickRow: function (index, row) {
            openEdit(row.patrolId);
        },
        columns:[[
            { field:'patrolId',hidden:"true"},
            { field:'patrolContent',title:'巡查地点与内容',width:100,sortable:true},
            { field:'patrolProblem',title:'发现的主要问题',width:100,sortable:true},
            { field:'patrolTime',title:'巡查日期',width:100,sortable:true,formatter:function(value,row,index){
                    return format(value);}},
            { field:'patrolName',title:'巡查人',width:100,sortable:true},
            { field:'patrolRemarks',title:'备注',width:100,sortable:true}
        ]],
        onLoadSuccess:function(data){
            $('.authority-edit').linkbutton({text:'编辑权限',plain:true,iconCls:'icon-edit'});
        }
    });
    /*function checkDb(data,dmsmName) {// 复选框分割选中
        var array=[];
        var Famihis=[];
        var Dm=data[0][dmsmName];
        array.push(Dm.substring(0,Dm.length-1));
        Famihis=$("input[name="+[dmsmName]+"");
        $(Famihis).each(function () {
            for(var j=0;j<array.length;j++) {
                $(this).attr("checked",$(this).val()==array[j]);
            }
        })
    }*/
    $(function () {
        $("#suppat-Search").click(function () {
            $("#data-datagrid").datagrid({
                queryParams: {
                    patrolName: $("input[name=patrolName]").val(),
                    areaId: $("input[name=areaId]").val(),
                    beginTime: $("input[name=beginTime]").val(),
                    endTime: $("input[name=endTime]").val(),
                }

            });
            var beginTime=$("input[name=beginTime]").val();
            var endTime=$("input[name=endTime]").val();
            if (beginTime>endTime){
                $.messager.alert('提示',"开始日期不能大于结束日期");
            }

        });
    });
</script>