<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.zzh.UserinfoMapper">
    <!-- 分页获取用户列表 -->
    <select id="findList" parameterType="Map" resultType="Userinfo">
        SELECT * from userinfo where 1 = 1
        <if test="recordUnit != -1">
            and recordUnit = #{recordUnit}
        </if>
        <if test="recordPlaceadress != null">
            and recordPlaceadress like '%${recordPlaceadress}%'
        </if>

        <if test="recordName != null">
            and recordName like '%${recordName}%'
        </if>
        <if test="userIdnumber != null">
            and userIdnumber like '%${userIdnumber}%'
        </if>
        <if test="userMyphone != null">
            and userMyphone like '%${userMyphone}%'
        </if>
        <if test="userSex != -1">
            and userSex = #{userSex}
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <!-- 获取符合结果的总记录数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*) from userinfo where 1 = 1
        <if test="recordUnit != -1">
            and recordUnit = #{recordUnit}
        </if>
        <if test="recordPlaceadress != null">
            and recordPlaceadress like '%${recordPlaceadress}%'
        </if>

        <if test="recordName != null">
            and recordName like '%${recordName}%'
        </if>
        <if test="userIdnumber != null">
            and userIdnumber like '%${userIdnumber}%'
        </if>
        <if test="userMyphone != null">
            and userMyphone like '%${userMyphone}%'
        </if>
        <if test="userSex != -1">
            and userSex = #{userSex}
        </if>
    </select>
    <!-- 删除用户 -->
    <delete id="delete" parameterType="String">
        delete from userinfo where userId in(${value})
    </delete>

    <!-- 添加用户 -->
    <insert id="add" parameterType="Userinfo">
INSERT into userinfo(recordName,recordUnit,recordAdress,recordPostalcode,recordPlaceadress,recordCreateuserid,recordResponuserid,recordData,recordMedical,recordResident,
recordBookbuilding,recordCategory,recordInputtingcard,recordPicurl,recordFamily,userPapernumber,userNumber,userSex,userBirthday,userIdnumber,userWorkunit,
userMyphone,userPemanent,userNamtion,userBloodtype,userRh,userCulture,userCareer,userGam,userPayway,userAllergy,userExpose,userIllness,userSurgery,userTrauma,
userBlood,userFather,userNather,userBirthdy,userSon,userHeredity,userDisability,userKitchen,userFuel,userWater,userWc,userLinestock,userState,userDe ) VALUES(#{recordName},#{recordUnit},#{recordAdress},#{recordPostalcode},#{recordPlaceadress},#{recordCreateuserid},#{recordResponuserid},#{recordData},#{recordMedical},#{recordResident},#{
recordBookbuilding},#{recordCategory},#{recordInputtingcard},#{recordPicurl},#{recordFamily},#{userPapernumber},#{userNumber},#{userSex},#{userBirthday},#{userIdnumber},#{userWorkunit},#{
userMyphone},#{userPemanent},#{userNamtion},#{userBloodtype},#{userRh},#{userCulture},#{userCareer},#{userGam},#{userPayway},#{userAllergy},#{userExpose},#{userIllness},#{userSurgery},#{userTrauma},#{
userBlood},#{userFather},#{userNather},#{userBirthdy},#{userSon},#{userHeredity},#{userDisability},#{userKitchen},#{userFuel},#{userWater},#{userWc},#{userLinestock},#{userState},#{userDe})

-- call pAdduserinfo()
    </insert>
    <!-- 修改用户 -->
    <update id="edit" parameterType="Userinfo">
         update userinfo set recordName=#{recordName},recordUnit=#{recordUnit},recordAdress=#{recordAdress},recordPostalcode=#{recordPostalcode},recordPlaceadress=#{recordPlaceadress},recordCreateuserid=#{recordCreateuserid},recordResponuserid=#{recordResponuserid},recordData=#{recordData},recordMedical=#{recordMedical},recordResident=#{recordResident},
recordBookbuilding=#{
recordBookbuilding},recordCategory=#{recordCategory},recordPicurl=#{recordPicurl},recordFamily=#{recordFamily},userPapernumber=#{userPapernumber},userNumber=#{userNumber},userSex=#{userSex},userBirthday=#{userBirthday},userIdnumber=#{userIdnumber},userWorkunit=#{userWorkunit},
userMyphone=#{
userMyphone},userPemanent=#{userPemanent},userNamtion=#{userNamtion},userBloodtype=#{userBloodtype},userRh=#{userRh},userCulture=#{userCulture},userCareer=#{userCareer},userGam=#{userGam},userPayway=#{userPayway},userAllergy=#{userAllergy},userExpose=#{userExpose},userIllness=#{userIllness},userSurgery=#{userSurgery},userTrauma=#{userTrauma},
userBlood=#{
userBlood},userFather=#{userFather},userNather=#{userNather},userBirthdy=#{userBirthdy},userSon=#{userSon},userHeredity=#{userHeredity},userDisability=#{userDisability},userKitchen=#{userKitchen},userFuel=#{userFuel},userWater=#{userWater},userWc=#{userWc},userLinestock=#{userLinestock},userState=#{userState},userDe=#{userDe}
where userId = #{userId}
    </update>

    <select id="findById" parameterType="Long" resultType="Userinfo">
        SELECT * from userinfo where  userId=#{id}

    </select>

    <select id="queryIDnumberTotal" parameterType="String" resultType="Integer">
          SELECT COUNT(*) FROM userinfo WHERE userIdnumber=#{userIdnumber}
    </select>
</mapper>