<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.suppat.SupmanPatrolMapper">
    <select id="findList" parameterType="Map" resultType="com.aaa.health.entity.suppat.SupmanPatrol">
select p.patrolId,p.areaId,a.areaName,p.patrolYear,p.patrolContent,p.patrolProblem,p.patrolTime,
        p.patrolName,p.patrolRemarks,p.patrolState,p.patrolColumn from supmanPatrol p left join area a on p.areaId=a.areaId
where 1=1
        <if test="patrolName != null">
            and p.patrolName like '%${patrolName}%'
        </if>
        <if test="areaId == 410000">
            and 1=1
        </if>
        <if test="areaId != null and areaId !=410000">
            and p.areaId=#{areaId}
        </if>
        <if test="beginTime != null">
            and p.patrolTime  >= #{beginTime}
        </if>
        <if test="endTime != null">
            and   #{endTime} >= p.patrolTime
        </if>
    <if test="offset != null and pageSize != null">
        limit #{offset},#{pageSize}
    </if>

    /*order by p.patrolTime desc*/

    </select>

    <insert id="add" parameterType="com.aaa.health.entity.suppat.SupmanPatrol">
    insert into supmanPatrol(areaId,patrolYear,patrolContent,patrolProblem,patrolTime,patrolName,patrolRemarks)
    values(#{areaId},#{patrolYear},#{patrolContent},#{patrolProblem},#{patrolTime},#{patrolName},#{patrolRemarks})
</insert>
    <select id="findById" parameterType="Integer" resultType="Map">
        select * from supmanPatrol where patrolId=#{patrolId}
    </select>

    <update id="update" parameterType="com.aaa.health.entity.suppat.SupmanPatrol">
update supmanPatrol set areaId=#{areaId},patrolYear=#{patrolYear},patrolContent=#{patrolContent},patrolProblem=#{patrolProblem},patrolTime=#{patrolTime},patrolName=#{patrolName},patrolRemarks=#{patrolRemarks} where patrolId=#{patrolId}
    </update>

    <delete id="delete" parameterType="String">
        delete from supmanPatrol where patrolId in(${value})
    </delete>


    <!-- 获取符合结果的总记录数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*) from supmanPatrol
        where 1=1

        <if test="patrolName != null">
            and patrolName like '%${patrolName}%'
        </if>
        <if test="areaId == 410000">
            and 1=1
        </if>
        <if test="areaId != null and areaId !=410000">
            and areaId=#{areaId}
        </if>
        <if test="beginTime != null">
            and patrolTime  >= #{beginTime}
        </if>
        <if test="endTime != null">
            and   #{endTime} >= patrolTime
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
        /*order by patrolTime desc*/

    </select>
</mapper>