<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理主页</title>
    <link rel="stylesheet" type="text/css" th:href="@{../admin/easyui/easyui/1.3.4/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../admin/easyui/css/wu.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../admin/easyui/css/icon.css}" />
    <script type="text/javascript" th:inline="none" src="../admin/easyui/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" th:inline="none" src="../admin/easyui/easyui/1.3.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" th:inline="none" src="../admin/easyui/easyui/1.3.4/locale/easyui-lang-zh_CN.js"></script>

    <script th:inline="none" >
        var pc;
        //不要放在$(function(){});中
        $.parser.onComplete = function () {
            if (pc) clearTimeout(pc);
            pc = setTimeout(closes, 1000);
        };

        function closes() {
            $('#loading').fadeOut('normal', function () {
                $(this).remove();
            });
        }

    </script>
</head>
<body class="easyui-layout">
<div id="loading" style="position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%;background:#FFFFFF;text-align :center;padding-top:6%;">
    <img src="../admin/easyui/images/loading.jpg" width="50%">
</div>

<!-- begin of header -->
<div class="wu-header" data-options="region:'north',border:false,split:true">
    <div class="wu-header-left">
        <h1>基础公共卫生系统</h1>
    </div>
    <iframe src="http://tianqi.5ikfc.com:90/plugin-code/?style=1&dy=3&cl=ffffff&th=cc0000&tl=009966&city=xinxiang" allowTransparency="true" style="margin-left: 15%;" frameborder="0" scrolling="no" width="600" height="46" id="weather_frame"></iframe>
    <div class="wu-header-right">
        <p><strong th:attr="class='easyui-tooltip', title='0条未读消息'">[[${session.role.name}]] :[[${session.admin.username}]]</strong>，欢迎您！</p>
        <p><a href="#">网站首页</a>|<a href="#">支持论坛</a>|<a href="#">帮助中心</a>|<a href="/logout">安全退出</a></p>
    </div>
</div>
<!-- end of header -->
<!-- begin of sidebar -->
<div class="wu-sidebar" data-options="region:'west',split:false,border:true,title:'导航菜单'" style="width: 200px">
    <div  class="easyui-accordion"  style="border: 0px" >
   <a th:each="topMenu:${topMenuList}">
            <div th:title="${topMenu.name }" th:attr="iconCls=${topMenu.icon },data-options='selected:true'" style="padding:2px;border: 0px">
                <a th:each="secondMenu:${secondMenuList}">
                <ul  class="easyui-tree wu-side-tree" style="border: 0px" >
                    <li th:if="${secondMenu.parentId == topMenu.id}" th:attr="iconCls=${secondMenu.icon }" style="border: 0px" >
                        <a href="javascript:void(0)"  th:attr="data-icon=${secondMenu.icon },data-link=${secondMenu.url }+'?_mid='+(${secondMenu.id })"  iframe="1"><span th:text="${secondMenu.name }"></span></a></li>
                </ul></a>
    </div></a></div>
</div>
<!-- end of sidebar -->
<!-- begin of main -->
<div class="wu-main" data-options="region:'center'">
    <div id="wu-tabs" class="easyui-tabs" data-options="border:false,fit:true">
        <div title="首页" data-options="href:'welcome',closable:false,iconCls:'icon-tip',cls:'pd3'"></div>
    </div>
</div>

<!-- end of main -->
<!-- begin of footer -->
<!--<div class="wu-footer" data-options="region:'south',border:true,split:true">-->
    <!--&copy; 2019 【Dipper】 All Rights Reserved-->
<!--</div>-->
<!-- end of footer -->
<script type="text/javascript" th:inline="none">
    $(function(){
        $('.wu-side-tree a').bind("click",function(){
            var title = $(this).text();
            var url = $(this).attr('data-link');
            var iconCls = $(this).attr('data-icon');
            var iframe = $(this).attr('iframe')==1?true:false;
            addTab(title,url,iconCls,iframe);
        });
    });

    /**
     * Name 添加菜单选项
     * Param title 名称
     * Param href 链接
     * Param iconCls 图标样式
     * Param iframe 链接跳转方式（true为iframe，false为href）
     */
    function addTab(title, href, iconCls, iframe){
        var tabPanel = $('#wu-tabs');
        if(!tabPanel.tabs('exists',title)){
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+ href +'" style="width:100%;height:100%;"></iframe>';
            if(iframe){
                tabPanel.tabs('add',{
                    title:title,
                    content:content,
                    iconCls:iconCls,
                    fit:true,
                    cls:'pd3',
                    closable:true
                });
            }
            else{
                tabPanel.tabs('add',{
                    title:title,
                    href:href,
                    iconCls:iconCls,
                    fit:true,
                    cls:'pd3',
                    closable:true
                });
            }
        }
        else
        {
            tabPanel.tabs('select',title);
        }
    }
    /**
     * Name 移除菜单选项
     */
    function removeTab(){
        var tabPanel = $('#wu-tabs');
        var tab = tabPanel.tabs('getSelected');
        if (tab){
            var index = tabPanel.tabs('getTabIndex', tab);
            tabPanel.tabs('close', index);
        }
    }
</script>
</body>
</html>