<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSM框架后台管理员登录</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" th:href="@{../admin/login/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../admin/login/css/reset.css}">
<body>

<div id="particles-js">
    <div class="login" style="display: block;">
        <div class="login-top">
            登录
        </div>
        <form action="/system/login" method="post">
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="../admin/login/images/name.png"></div>
            <div class="login-center-input">
                <input type="text" name="username" id="username" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=;&#39;&#39;" onblur="this.placeholder=;&#39;请输入您的用户名&;#39;">
                <div class="login-center-input-text">用户名</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="../admin/login/images/password.png"></div>
            <div class="login-center-input">
                <input type="password" name="password" id="password" value="" placeholder="请输入您的密码" onfocus="this.placeholder=;&#39;&#39;" onblur="this.placeholder=;&#39;请输入您的密码&;#39;">
                <div class="login-center-input-text">密码</div>
            </div>
        </div>
            <!--<div class="login-center clearfix" >-->
                <!--<div class="login-center-img"><img src="../admin/login/images/cpacha.png"></div>-->
                <!--<div class="login-center-input">-->
                <!--<input style="width:50%;" type="text" name="cpacha" id="cpacha" value="" placeholder="请输入验证码" onfocus="this.placeholder='';" onblur="this.placeholder='请输入验证码'">-->
                <!--<div class="login-center-input-text">验证码</div>-->
                <!--<img id="cpacha-img" title="点击切换验证码" style="cursor:pointer;" src="get_cpacha?vl=4&w=150&h=40&type=loginCpacha" width="110px" height="30px" onclick="changeCpacha()">-->
                <!--</div>-->

            <!--</div>-->

        <div class="login-center clearfix" >
                <input type="checkbox" name="remember-me"   checked="true">记住我，一周免登陆
        </div>
            <input type="button" class="login-button" style=" width:80%;margin-left:8%"  onclick="submit()" th:value="登录" >
        </form>
    </div>

    <div class="sk-rotating-plane"></div>
    <canvas class="particles-js-canvas-el" width="1147" height="952" style="width: 100%; height: 100%;"></canvas></div>

<!-- scripts -->
<!--<script src="../admin/login/js/particles.min.js" th:inline="javascript"></script>-->
<!--<script src="../admin/login/js/app.js" th:inline="javascript"></script>-->
<script src="../admin/login/js/jquery-1.8.0.min.js" th:inline="javascript"></script>
<script type="text/javascript" th:inline="javascript">


    // function changeCpacha(){
    //     $("#cpacha-img").attr("src",'get_cpacha?vl=4&w=150&h=40&type=loginCpacha&t=' + new Date().getTime());
    // }
    document.querySelector(".login-button").onclick = function submit(){

        var username = $("#username").val();
        var password = $("#password").val();
        var cpacha = $("#cpacha").val();
        var rememberMe = $("#rememberMe").val();
        if(username == '' || username == 'undefined'){
            alert("请填写用户名！");
            return;
        }
        if(password == '' || password == 'undefined'){
            alert("请填写密码！");
            return;
        }
        // if(cpacha == '' || cpacha == 'undefined'){
        //     alert("请填写验证码！");
        //     return;
        // }

        $("form").submit();
    }
</script>
</body></html>