<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--引入抬头页面-->
<div th:replace="common/header :: header"  ></div>

<div class="easyui-layout" data-options="fit:true">
    <!-- Begin of toolbar -->
    <div id="wu-toolbar">
        <div class="wu-toolbar-button">
            <!--引入菜单页面-->
            <div th:replace="common/menus :: menus"  > </div>
        </div>
        <div class="wu-toolbar-search">
            <label> 个人编号:</label><input style="height:15px;" name="userId"/>
            <label> 姓名:</label><input name="userName"/>
            <label> 联系地址:</label><input name="userAdress"/>
            <label> 联系电话:</label><input name="userMyphone"/>
            <a href="#" id="userSearch" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        </div>
    </div>

    <!-- End of toolbar -->
    <table id="data-datagrid" class="easyui-datagrid" toolbar="#wu-toolbar"></table>
</div>
<!-- Begin of easyui-dialog -->
<div id="tcm" class="easyui-dialog" style="width: 760px; height:760px;padding:10px;">
    <div style="margin: auto;" th:replace="common/oldtcm :: oldtcm"></div>
</div>
<div id="add-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-savse'" style="width:600px; margin: auto; padding:10px;">
    <table id="dataAll" class="easyui-datagrid" style="width: 600px; height: 500px;"></table>
</div>
<!-- 修改窗口 -->
<div id="edittcm" class="easyui-dialog" style="width: 760px; height:780px;padding:10px;">
    <div style="margin: auto;"  th:replace="common/editoldtcm :: editoldtcm"></div>
</div>

<div id="process-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-upload',title:'正在上传图片'" style="width:450px; padding:10px;">
    <div id="p" class="easyui-progressbar" style="width:400px;" data-options="text:'正在上传中...'"></div>
</div>
<input type="file" id="photo-file" style="display:none;" onchange="upload()">
<!--引入叫本页面<%@include file="../common/footer.jsp"%>-->
<div th:replace="common/footer :: myfooter"  ></div>


<!-- End of easyui-dialog -->
<script type="text/javascript" th:inline="none">
    var gxy;
    $(function () {
        $("#tcm").dialog('close');
    })
    function  goBack() {
        $("#tcm").dialog('close');
    }
    $(function () {
        $("#edittcm").dialog('close');
    })
    function    Close()   {
        $("#edittcm").dialog('close');
    }
    //上传图片
    function start(){
        var value = $('#p').progressbar('getValue');
        if (value < 100){
            value += Math.floor(Math.random() * 10);
            $('#p').progressbar('setValue', value);
        }else{
            $('#p').progressbar('setValue',0)
        }
    };
//模糊查询
    $(function () {

        $("#userSearch").click(function () {

            $("#data-datagrid").datagrid({

                queryParams: {
                    userId: $("input[name=userId]").val(),
                    userName: $("input[name=userName]").val(),
                    userAdress: $("input[name=userAdress]").val(),
                    userMyphone: $("input[name=userMyphone]").val()

                }

            });


        });

    });
    function upload(){
        if($("#photo-file").val() == '')return;
        var formData = new FormData();
        formData.append('photo',document.getElementById('photo-file').files[0]);
        $("#process-dialog").dialog('open');
        var interval = setInterval(start,200);
        $.ajax({
            url:'upload_photo',
            type:'post',
            data:formData,
            contentType:false,
            processData:false,
            success:function(data){
                clearInterval(interval);
                $("#process-dialog").dialog('close');
                if(data.type == 'success'){
                    $("#preview-photo").attr('src',data.filepath);
                    $("#add-photo").val(data.filepath);
                    $("#edit-preview-photo").attr('src',data.filepath);
                    $("#edit-photo").val(data.filepath);
                }else{
                    $.messager.alert("消息提醒",data.msg,"warning");
                }
            },
            error:function(data){
                clearInterval(interval);
                $("#process-dialog").dialog('close');
                $.messager.alert("消息提醒","上传失败!","warning");
            }
        });
    }

    function uploadPhoto(){
        $("#photo-file").click();

    }


    /**
     *  添加记录
     */
    function add(){
        $('#add-dialog').dialog('close');
        $("#tcm").dialog({
            title : "新增中医药服务管理表",
            model : true,
            buttons: [   {
                text: '保存',
                iconCls: 'icon-ok',
                handler: goAdd
            },{
                text: '取消',
                iconCls: 'icon-cancel',
                handler: goBack
            }],
            onBeforeOpen: function(){
                $("#oldpeoId").val(gxy);
                $.ajax({
                    url:'queryById',
                    type:'post',
                    data:"uid="+gxy,
                    dataType:'json',
                    success:function(data){
      /*                  alert(data.userId);*/
                        $("#oldpeoId").val(data.oldpeoId);
                        $("#recordName").val(data.recordName);
                        $("#userId ").val(data.userId );
                    }

                });$.ajax({
                    type : "post",
                    url : "queryDoctor2",
                    dataType : "json",
                    success : function (date) {
                        $("#healthcheckDoctor").combobox({
                            mode:'remote',
                            url:'queryDoctor2',
                            valueField:'id',
                            textField:'lastname',
                            delay:100
                        });
                    }
                });

            }
        });
    }
    function goAdd() {

        var validate = $("#tcmform").form("validate");
/*        var doc=validate.combobox().val();*/
      /*  var validate = $("#tcmform").form("validate");*/
        if (!validate) {
            $.messager.alert("消息提醒", "信息不全，请检查你输入的数据!", "warning");
            return;
        }
/*        if (doc==null) {
            $.messager.alert("消息提醒", "信息不全，请检查你输入的数据!", "warning");
            return;
        }*/
        var data = $("#tcmform").serialize();
        $.ajax({
            url: 'add',
            dataType: 'json',
            type: 'post',
            data: data,
            success: function (data) {
                if (data>0) {
                    $.messager.alert('信息提示', '添加成功！', 'info');
                    $('#tcm').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                    $("#dataAll").datagrid('getSelections').length = 0;
                } else {
                    $.messager.alert('信息提示', data.msg, 'warning');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                    $("#dataAll").datagrid('getSelections').length = 0;
                }
            }
        });
    }


    /**
     * Name 修改记录
     */
    var ed;
    function upda(oldtcmId,oldpeoId) {

        $('#add-dialog').dialog('close');
        gxy = oldpeoId;
        ed = oldtcmId;
        $('#edittcm').dialog({
            closed: false,
            modal: true,
            title: "修改",
            buttons: [   {
                text: '保存',
                iconCls: 'icon-ok',
                handler: update
            },{
                text: '取消',
                iconCls: 'icon-cancel',
                handler: Close
            }],
            onBeforeOpen: function () {
                $("#editoldpeoId").val(gxy);
                $("#editoldtcmId").val(ed);
                $.ajax({
                    url: 'queryById',
                    type: 'post',
                    data: "uid=" + gxy,
                    dataType: 'json',
                    success: function (data) {
                        $("#recordName2").val(data.recordName);
                        $("#userId2 ").val(data.userId);
                    }

                });   $.ajax({
                    type : "post",
                    url : "queryDoctor2",
                    dataType : "json",
                    success : function (date) {
                        $("#healthcheckDoctor2").combobox({
                            mode:'remote',
                            url:'queryDoctor2',
                            valueField:'id',
                            textField:'lastname',
                            delay:100
                        });
                    }
                });
                $.ajax({
                    url: 'queryId',
                    type: 'post',
                    data: "oldtcmId=" + ed,
                    dataType: 'json',
                    success: function (d) {

                        $('#editform').form('load', d[0]);
                    }

                })

            }
        })
    }

    function update(){

        var validate = $("#editform").form("validate");

        if(!validate){
            return;
        }
        var date=$("#editform").serialize();

        $.ajax({
            url:'updatetcm',
            dataType:'json',
            type:'post',
            data: date,
            success:function(data){
                if(data>0){
                    $.messager.alert('信息提示','修改成功！','info');
                    $('#edittcm').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                    $("#dataAll").datagrid('getSelections').length = 0;
                }else{
                    $.messager.alert('信息提示',data.msg,'warning');
                    $("#data-datagrid").datagrid('getSelections').length = 0;
                    $("#dataAll").datagrid('getSelections').length = 0;
                }
            }
        });
    }

    /**
     * 删除记录
     */
    function remove(){
        $.messager.confirm('信息提示','确定要删除该记录？', function(result){
            if(result){
                var item = $('#dataAll').datagrid('getSelections');

        /*        alert(item.oldtcmId);*/
                if(item == null || item.length == 0){
                    $.messager.alert('信息提示','请选择要删除的数据！','info');
                    return;
                }
                var ids = '';
                for(var i=0;i<item.length;i++){
                    ids += item[i].oldtcmId + ',';
                }
                $.ajax({
                    url:'del',
                    dataType:'json',
                    type:'post',
                    data:{ids:ids},
                    success:function(data){
                        if(data.type == 'success'){
                            $.messager.alert('信息提示','删除成功！','info');
                            $('#add-dialog').dialog('close');
                            $('#data-datagrid').datagrid('reload');
                            $("#data-datagrid").datagrid('getSelections').length = 0;
                            $("#dataAll").datagrid('getSelections').length = 0;
                        }else{
                            $.messager.alert('信息提示',data.msg,'warning');
                            $("#data-datagrid").datagrid('getSelections').length = 0;
                            $("#dataAll").datagrid('getSelections').length = 0;
                        }
                    }
                });
            }
        });
    }



    /**
     * Name 打开添加窗口
     */

    function openAdd(oldpeoId){

        gxy=oldpeoId;
        $('#add-dialog').dialog({
            closed: false,
            modal:true,
            title: "中医药服务管理信息",
            buttons: [ /*  {
             text: '确定',
                iconCls: 'icon-ok',
                handler: add
            },*/ {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#add-dialog').dialog('close');
                }
            }],
            onBeforeOpen:function(){
                $("#dataAll").datagrid({
                    url: 'userList?oldpeoId=' + oldpeoId,
                    fitColumns: true,
                    striped: true,
                    singleSelect: true,
                    pagination: true,
                    rownumbers: true,
                    pageSize: 20,
                    multiSort: true,
                    idField: 'oldpeoId',
                    columns: [[
                         /*  {field:'chk',checkbox:true,width:60},*/
                        {field: 'oldpeoId', title: '序号', width: 100, hidden: true},
                        {field: 'oldtcmId', title: '新增序号', width: 100, align: 'center', hidden: true},
                        {field: 'oldtcmFilldate', title: '检查日期', width: 100, align: 'center'},
                        {field: 'lastname', title: '检查医生', width: 100, align: 'center'}

                    ]], onDblClickRow: function (index, row) {
                    upda(row.oldtcmId, row.oldpeoId);
                },
                toolbar: [{
                    text: '新增',
                    iconCls: 'icon-add',
                    handler: add
                }, '-', {
                    text: '删除',
                    iconCls: 'icon-cancel',
                    handler: remove
                }, '-', {
                    text: '**双击修改随访信息**',
        /*            iconCls: 'icon-jingshenke',
                    handler: function(){}*/
                }]
            });
            }
        });
    }

    /**
     * 打开修改窗口
     */
    function openEdit(){
        //$('#edit-form').form('clear');
        var item = $('#data-datagrid').datagrid('getSelections');
        if(item == null || item.length == 0){
            $.messager.alert('信息提示','请选择要修改的数据！','info');
            return;
        }
        if(item.length > 1){
            $.messager.alert('信息提示','请选择一条数据进行修改！','info');
            return;
        }
        item = item[0];
        $('#edit-dialog').dialog({
            closed: false,
            modal:true,
            title: "修改用户信息",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: edit
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#edit-dialog').dialog('close');
                }
            }],
            onBeforeOpen:function(){
                $("#edit-id").val(item.id);
                $("#edit-preview-photo").attr('src',item.photo);
                $("#edit-photo").val(item.photo);
                $("#edit-username").val(item.username);
                $("#edit-roleId").combobox('setValue',item.roleId);
                $("#edit-sex").combobox('setValue',item.sex);
                $("#edit-age").val(item.age);
                $("#edit-address").val(item.address);
            }
        });
    }


    //搜索按钮监听
    $("#search-btn").click(function(){
        var roleId = $("#search-role").combobox('getValue');
        var sex = $("#search-sex").combobox('getValue')
        var option = {username:$("#search-name").val()};
        if(roleId != -1){
            option.roleId = roleId;
        }
        if(sex != -1){
            option.sex = sex;
        }
        $('#data-datagrid').datagrid('reload',option);
    });

    /**
     * 载入数据
     */
    $('#data-datagrid').datagrid({
        url:'list',
        rownumbers:true,
        singleSelect:true,
        pageSize:20,
        pagination:true,
        multiSort:true,
        fitColumns:true,
        idField:'id',
        treeField:'name',
        fit:true,
        onDblClickRow: function (index, row) {
            openAdd(row.oldpeoId);
        },
        columns:[[
          /*  { field:'chk',checkbox:true},*/
            {field: 'oldpeoId', title: '老人信息ID', hidden: true},
   /*         {field: 'userId',  hidden: true},*/
            { field:'recordName',title:'姓名',width:100,align:'center'},
            { field:'userId',title:'个人编号',width:100,align:'center'},
            { field:'userNumber',title:'个人健康档案号',hidden:true},
            { field:'userSex',title:'性别',width:100,align:'center', formatter(value, row, index) {
                switch (value) {
                case 0: {
                        return '未知';
                    }
                case 1: {
                        return '男';
                    }
                case 2: {
                        return '女';
                    }
                }
                return value;
    }},
            { field:'userIdnumber',title:'身份证号',width:100,align:'center'},
            { field:'userBirthday',title:'出生日期',width:100,align:'center'},
            { field:'recordAdress',title:'家庭地址',width:100,align:'center'},
            { field:'userMyphone',title:'联系电话',width:100,align:'center'},
            { field:'recordData',title:'建档日期',width:100,align:'center'},

        ]],
        onLoadSuccess:function(data){
            $('.authority-edit').linkbutton({text:'编辑权限',plain:true,iconCls:'icon-edit'});
        }
    });
</script>