<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.hostpit.HostMapper">

    <select id="queryArea" resultType="Map">
           select areaId,areaName from area
    </select>

    <!-- 添加用户 -->
    <insert id="addUserInfo" parameterType="Userinfo">
        INSERT into userinfo(recordName,recordUnit,recordAdress,recordPostalcode,recordPlaceadress,recordCreateuserid,recordResponuserid,recordData,recordMedical,recordResident,
        recordBookbuilding,recordCategory,recordInputtingcard,recordPicurl,recordFamily,userPapernumber,userNumber,userSex,userBirthday,userIdnumber,userWorkunit,
        userMyphone,userPemanent,userNamtion,userBloodtype,userRh,userCulture,userCareer,userGam,userPayway,userAllergy,userExpose,userIllness,userSurgery,userTrauma,
        userBlood,userFather,userNather,userBirthdy,userSon,userHeredity,userDisability,userKitchen,userFuel,userWater,userWc,userLinestock,userState,userDe ) VALUES(#{recordName},#{recordUnit},#{recordAdress},#{recordPostalcode},#{recordPlaceadress},#{recordCreateuserid},#{recordResponuserid},#{recordData},#{recordMedical},#{recordResident},#{
recordBookbuilding},#{recordCategory},#{recordInputtingcard},#{recordPicurl},#{recordFamily},#{userPapernumber},#{userNumber},#{userSex},#{userBirthday},#{userIdnumber},#{userWorkunit},#{
userMyphone},#{userPemanent},#{userNamtion},#{userBloodtype},#{userRh},#{userCulture},#{userCareer},#{userGam},#{userPayway},#{userAllergy},#{userExpose},#{userIllness},#{userSurgery},#{userTrauma},#{
userBlood},#{userFather},#{userNather},#{userBirthdy},#{userSon},#{userHeredity},#{userDisability},#{userKitchen},#{userFuel},#{userWater},#{userWc},#{userLinestock},#{userState},#{userDe})

        -- call pAdduserinfo()
    </insert>
    
    <select id="queryCheck" resultType="Healthcheck" parameterType="Map">
        SELECT hc.* from userinfo u join healthcheck hc on u.userId=hc.userinfoid
        where 1=1 and u.userId=#{userId}
        <if test="healthcheckDate != null">
            and hc.healthcheckDate=#{healthcheckDate}
        </if>
    </select>

    <select id="queryDoctorByName" resultType="Map" parameterType="String">
        select * from `user` WHERE lastname=#{lastname}
    </select>
</mapper>