<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->

<body>
<div th:fragment="emerg" th:height="900">
    <div class="emerg">
        <style>
            input[type="text"] {
                border: 0px;
            }

            input[type="checkbox"] {
                margin-left: 15px;
            }
            input[type="radio"] {
                margin-left: 15px;
            }
        </style>
        <form id="emeform" method="post" style="margin-top: 30px">
            <input type="hidden" name="emgId" id="edit-emgId">
            <h1 style="text-align: center">突发公共卫生事件相关信息报告卡</h1>
            <div style="margin-left: 450px;margin-top: 30px">
                <input type="radio" name="emgPrireport" value="1"/>初步报告
                <input type="radio" name="emgPrireport" value="2"/>进程报告
                <input type="radio" name="emgPrireport" value="3"/>结案报告
            </div>
            <table border="1" style="margin-left: 20px;width: 720px;height: 850px"  cellspacing="0" cellpadding="1">
                <tr valign="middle">
                    <td data-options="required:true,min:1,precision:0, missingMessage:'请填写'" style="width: 80px">填报机构</td>
                    <td colspan="2">
                        <select name="areaId" id="edit-areaId" editable="fasle" class="easyui-combobox" panelHeight="auto" style="width:200px">

                            <option th:each="l:${list}" th:value="${l.areaId}" th:text="${l.areaName}"></option>
                        </select>
                    </td>
                    <td>
                        填表时间
                    </td>
                    <td valign="middle" colspan="2">
                        <input type="text" id="edit-emgTime" class="easyui-datebox" data-options="required:true, missingMessage:'请填写'" editable="fasle" name="emgTime" style="width: 200px" />
                    </td>
                </tr>
                <tr>
                    <td>报告人</td>
                    <td colspan="2">
                        <input type="text" id="edit-emgPeople" data-options="required:true, missingMessage:'请填写报告人'"  name="emgPeople" style="width: 100%;height: 100%" /></td>
                    <td>联系电话</td>
                    <td colspan="2">
                        <input type="text" id="edit-emgPhone" maxlength="11" oninput="value=value.replace(/[^\d]/g,'')" data-options="required:true, missingMessage:'请填写联系电话'" name="emgPhone" style="width: 100%;height: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>事件名称</td>
                    <td colspan="5">
                        <input type="text" data-options="required:true,missingMessage:'请填写事件名称'" id="edit-emgName" name="emgName" style="width: 100%;height: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>信息类别</td>
                    <td colspan="5" data-options="required:true, missingMessage:'请填写信息类别'">
                        <input type="radio" name="emgCategory" value="1"/>传染病
                        <input type="radio" name="emgCategory" value="2" />食物中毒
                        <input type="radio" name="emgCategory" value="3"/>职业中毒
                        <input type="radio" name="emgCategory" value="4" />其它中毒事件
                        <input type="radio" name="emgCategory" value="5" />环境卫生
                        <input type="radio" name="emgCategory" value="6" />免疫接种
                        <input type="radio" name="emgCategory" value="7" />群体性不明原因疾病
                        <input type="radio" name="emgCategory" value="8" />医疗机构内感染
                        <input type="radio" name="emgCategory" value="9" />放射性卫生
                        <input type="radio" name="emgCategory" value="10" />其它公共卫生
                    </td>
                </tr>
                <tr>
                    <td>突发事件等级</td>
                    <td colspan="5">
                        <input type="radio" name="emgGrade" value="1" />特别重大
                        <input type="radio" name="emgGrade" value="2" />重大
                        <input type="radio" name="emgGrade" value="3" />较大
                        <input type="radio" name="emgGrade" value="4"  />一般
                        <input type="radio" name="emgGrade" value="5" />未分级
                        <input type="radio" name="emgGrade" value="6"  />非突发事件
                    </td>
                </tr>
                <tr>
                    <td>初步诊断</td>
                    <td colspan="2">
                        <input type="text" id="edit-emgPreDiagnosis" name="emgPreDiagnosis" style="width: 100%;height: 100%"/>
                    </td>
                    <td>初步诊断时间</td>
                    <td colspan="2">
                        <input type="text" id="edit-emgPrediaTime" editable="fasle" class="easyui-datebox" name="emgPrediaTime" style="width: 200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>订正诊断</td>
                    <td colspan="2">
                        <input type="text" id="edit-emgRevDiagnosis" name="emgRevDiagnosis" style="width: 100%;height: 100%"/>
                    </td>
                    <td>订正诊断时间</td>
                    <td colspan="2">
                        <input type="text" id="edit-emgRevdiaTime" editable="fasle" class="easyui-datebox" name="emgRevdiaTime" style="width: 200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>确认分级时间</td>
                    <td colspan="2">
                        <input type="text" id="edit-emgClassifyTime" editable="fasle" class="easyui-datebox" name="emgClassifyTime" style="width: 200px;"/>
                    </td>
                    <td>订正分级时间</td>
                    <td colspan="2">
                        <input type="text" id="edit-emgRevclyTime" editable="fasle" class="easyui-datebox" name="emgRevclyTime" style="width: 200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>报告地区</td>
                    <td colspan="5">
                        <input type="text" id="edit-emgReportAddress"  name="emgReportAddress" style="width: 100%;height: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td>发生地区</td>
                    <td colspan="5">
                        <input type="text" id="edit-emgHappenAddress"  name="emgHappenAddress" style="width: 100%;height: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td>详细地点</td>
                    <td colspan="5">
                        <input type="text" id="edit-emgDetailAddress"  name="emgDetailAddress" style="width: 100%;height: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td>事件发生场所</td>
                    <td colspan="5">
                        <input type="radio" name="eventHappen" value="1"/>学校
                        <input type="radio" name="eventHappen" value="2" />医疗卫生机构
                        <input type="radio" name="eventHappen" value="3" />家庭
                        <input type="radio" name="eventHappen" value="4" />宾馆饭店写字楼
                        <input type="radio" name="eventHappen" value="5"  />餐饮服务单位
                        <input type="radio" name="eventHappen" value="6" />交通运输工具<br/>
                        <input type="radio" name="eventHappen" value="7" />菜场、商场或超市
                        <input type="radio" name="eventHappen" value="8" />车站、码头或机场
                        <input type="radio" name="eventHappen" value="9"  />党政机关办公场所
                        <input type="radio" name="eventHappen" value="10" />大型厂矿企业生产场所<br/>
                        <input type="radio" name="eventHappen" value="11" />中小型厂矿企业生产场所
                        <input type="radio" name="eventHappen" value="12" />城市住宅小区
                        <input type="radio" name="eventHappen" value="13"  />城市其它公共场所
                        <input type="radio" name="eventHappen" value="14" />农村村庄
                        <input type="radio" name="eventHappen" value="15" />农村农田野外<br/>
                        <input type="radio" name="eventHappen" value="16" />其它重要公共场所
                    </td>
                </tr>
                <tr>
                    <td>事件信息来源</td>
                    <td colspan="5">
                        <input type="radio" name="eventSource" value="1"/>属地医疗机构
                        <input type="radio" name="eventSource" value="2" />外地医疗机构
                        <input type="radio" name="eventSource" value="3" />报纸
                        <input type="radio" name="eventSource" value="4" />电视
                        <input type="radio" name="eventSource" value="5"/>特服号电话95120
                        <input type="radio" name="eventSource" value="6" />互联网<br/>
                        <input type="radio" name="eventSource" value="7"/>市民电话报告
                        <input type="radio" name="eventSource" value="8" />上门直接报告
                        <input type="radio" name="eventSource" value="9"/>本系统自动预警产生
                        <input type="radio" name="eventSource" value="10" />广播
                        <input type="radio" name="eventSource" value="11"/>填报单位人员目睹
                        <input type="radio" name="eventSource" value="12" />其它<input type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>事件信息来源详细</td>
                    <td colspan="5">
                        <input type="text" id="edit-evsoDetail"  name="evsoDetail" style="width: 100%;height: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td>事件波及的地域范围</td>
                    <td colspan="5">
                        <input type="text" id="edit-eventRange"  name="eventRange" style="width: 100%;height: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td>新报告病例数</td>
                    <td>
                        <input type="text" name="emgCase" oninput="value=value.replace(/[^\d]/g,'')" id="edit-emgCase" style="width: 100%;height: 100%"/>
                    </td>
                    <td>新报告死亡数</td>
                    <td>
                        <input type="text" name="emgDie" oninput="value=value.replace(/[^\d]/g,'')" id="edit-emgDie" style="width: 100%;height: 100%"/>
                    </td>
                    <td>排除病例数</td>
                    <td>
                        <input type="text" name="emgRecase" oninput="value=value.replace(/[^\d]/g,'')" id="edit-emgRecase" style="width: 100%;height: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>累计报告病例数</td>
                    <td colspan="2">
                        <input type="text" name="emgCatotal" oninput="value=value.replace(/[^\d]/g,'')" id="edit-emgCatotal" style="width: 100%;height: 100%"/>
                    </td>
                    <td>累计报告死亡数</td>
                    <td colspan="2">
                        <input type="text" name="emgDietotal" oninput="value=value.replace(/[^\d]/g,'')" id="edit-emgDietotal" style="width: 100%;height: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td>事件发生时间</td>
                    <td colspan="2">
                        <input type="text" class="easyui-datetimebox" editable="fasle" id="edit-emgTimes" name="emgTimes" style="width: 200px;"/>
                    </td>
                    <td>接到报告时间</td>
                    <td colspan="2">
                        <input type="text" class="easyui-datetimebox" editable="fasle" id="edit-emgReportTime" name="emgReportTime" style="width: 200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>首例病人发病时间</td>
                    <td colspan="2">
                        <input type="text" class="easyui-datetimebox" editable="fasle" id="edit-firstPatient" name="firstPatient" style="width: 200px;"/>
                    </td>
                    <td>末例病人发病时间</td>
                    <td colspan="2">
                        <input type="text" class="easyui-datetimebox" editable="fasle" id="edit-lastPatient" name="lastPatient" style="width: 200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>主要症状</td>
                    <td colspan="5">
                        <div>
                            <input type="checkbox" name="mainSymptoms" class="mainSymptoms"  onclick="checkItem1(this)"  value="1">其它
                            <input type="checkbox"  name="mainSymptoms"  class="mainSymptoms" value="2">胃肠道症状
                            <input type="checkbox"  name="mainSymptoms"  class="mainSymptoms"  value="3">神经系统症状
                            <input type="checkbox"  name="mainSymptoms"  class="mainSymptoms"  value="4">皮肤粘膜症状
                            <input type="checkbox"  name="mainSymptoms"  class="mainSymptoms"  value="5">神经症状
                            <input type="checkbox"  name="mainSymptoms"  class="mainSymptoms" value="6">呼吸道症状

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>主要体征</td>
                    <td colspan="5">
                        <textarea name="mainSign" id="edit-mainSign" rows="5" cols="99" style="border: 0px"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>主要措施与效果</td>
                    <td colspan="5">
                        <textarea name="mainMese" id="edit-mainMese" rows="5" cols="99" style="border: 0px"></textarea>
                    </td>
                </tr>


            </table>
        </form>
    </div>
</div>
</body>
</html>