<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--引入抬头页面-->
<div th:replace="common/header :: header"  ></div>

<div class="easyui-layout" data-options="fit:true">
    <!-- Begin of toolbar -->
    <div id="wu-toolbar">
        <div class="wu-toolbar-button">
            <!--引入菜单页面-->
            <div th:replace="common/menus :: menus"  > </div>
        </div>
        <!--条件搜索-->
        <div class="wu-toolbar-search">
            <label> 姓名:</label><input name="userName"/>
            <a href="#" id="userSearch" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        </div>


    </div>
    <!-- End of toolbar 数据table表格 -->
    <table id="data-datagrid" class="easyui-datagrid" toolbar="#wu-toolbar"></table>

</div>




</table>
<div id="add-dialog"  style="width: 840px;height: 600px;">
    <form id="add-form" method="post">
        <table border="1px" style="width: 800px;height: 600px;border-collapse:collapse;margin-top: 10px;
        border:1px solid black;">
            <tr align="center"><td colspan="3">姓名：<input type="text" style="border:none;outline:medium;" id="Aname"/>  编号：<input type="text" style="border:none;outline:medium;" id="Anum"><input type="text" name="recordId" id="AreD" hidden="hidden"></td></tr>
            <tr><td colspan="2">随访日期*</td><td><input type="text" style="border: none;outline: medium;width: 100%;height: 100%"  readonly="readonly" id="Adate" name="insrecordDate"></td></tr>
            <tr>
                <td>体重</td><td><input suffix="kg"  type="text" id="Aweight" name="insrecordWeight" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox easyui-validatebox" data-options="required:true"></td>
                <td>评价：
                    <select name="insrecordWeiassess" style="appearance:none; -moz-appearance:none;-webkit-appearance:none;border: none;outline: medium;width: 90%;height: 100%">
                        <option value="上">上</option>
                        <option value="中">中</option>
                        <option value="下">下</option>
                    </select>
                </td>
            <tr>
            <tr><td>身长</td><td><input type="text" data-options="required:true" suffix="cm" id="Aheight" name="insrecordHeight" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox easyui-validatebox"></td>
            <td>评价：<!--<input type="text" id="Aha" name="insrecordHeiassess" style="border: none;outline: medium;width: 90%;height: 100%">-->
                <select name="insrecordHeiassess" style="appearance:none; -moz-appearance:none;-webkit-appearance:none;border: none;outline: medium;width: 90%;height: 100%">
                    <option value="上">上</option>
                    <option value="中">中</option>
                    <option value="下">下</option>
                </select>
            </td><tr>
            <tr><td>头围</td><td colspan="2"><input type="text" data-options="required:true" suffix="cm" name="insrecordHeadsize" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox easyui-validatebox"></td><tr>
            <tr><td rowspan="17">体格检查</td></tr>
            <tr><td>面色</td><td><input type="radio" name="insrecordFace" value="1"/>1红润<input type="radio" name="insrecordFace" value="2"/>2黄染<input type="radio" name="insrecordFace" value="3"/>3其他</td></tr>
            <tr><td>皮肤</td><td><input type="radio" name="insrecordSkin" value="1"/>1未见异常<input type="radio" name="insrecordSkin" value="2"/>2异常</td></tr>
            <tr><td>前囟</td><td><input type="radio" name="insrecordFontane" value="1"/>1闭合<input type="radio" name="insrecordFontane" value="2"/>2未闭 <input type="text" style="border:none;outline:medium;text-align:right" name="insrecordFonlong">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cm×<input type="text" style="width: 25px;border:none;outline:medium;" name="insrecordFonwidth">cm</td></tr>
            <tr><td>颈部包块</td><td><input type="radio" name="insrecordMasses" value="1"/>1有<input type="radio" name="insrecordMasses" value="2"/>2无</td></tr>

            <tr><td>眼睛</td><td><input type="radio" name="insrecordEyes" value="1"/>1未见异常<input type="radio" name="insrecordEyes" value="2"/>2异常</td></tr>
            <tr><td>耳</td><td><input type="radio" name="insrecordEars" value="1"/>1未见异常<input type="radio" name="insrecordEars" value="2"/>2异常</td></tr>
            <tr><td>听力</td><td><input type="radio" name="insrecordListen" value="1"/>1通过<input type="radio" name="insrecordListen" value="2"/>2未通过</td></tr>
            <tr><td>口腔</td><td><input type="radio" name="insrecordOral" value="1"/>1未见异常<input type="radio" name="insrecordOral" value="2"/>2异常</td></tr>
            <tr><td>胸部</td><td><input type="radio" name="insrecordChest" value="1"/>1未见异常<input type="radio" name="insrecordChest" value="2"/>2异常</td></tr>
            <tr><td>腹部</td><td><input type="radio" name="insrecordBelly" value="1"/>1未见异常<input type="radio" name="insrecordBelly" value="2"/>2异常</td></tr>
            <tr><td>脐部</td><td><input type="radio" name="insrecordNavel" value="1"/>1未见异常<input type="radio" name="insrecordNavel" value="2"/>2异常</td></tr>
            <tr><td>四肢</td><td><input type="radio" name="insrecordLimbs" value="1"/>1未见异常<input type="radio" name="insrecordLimbs" value="2"/>2异常</td></tr>
            <tr><td>可疑佝偻病症状</td><td>

                <select id="ddlLine2" class="easyui-combotree" style="width: 650px; height: 24px;"  name="insrecordRickets" >
                </select>
            </td></tr>
            <tr><td>可疑佝偻病体征</td><td>
                <input type="radio" name="insrecordRicksign" value="1"> 1无
                <input type="radio" name="insrecordRicksign" value="2">2颅骨软化

            </td></tr>
            <tr><td>肛门/外生殖</td><td><input type="radio" name="insrecordAnus" value="1"/>1未见异常<input type="radio" name="insrecordAnus" value="2"/>2异常</td></tr>
            <tr><td>血红蛋白</td><td colspan="2"><input type="text" name="insrecordHgb" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox" suffix="g/L"></td></tr>

            <tr><td colspan="2">户外活动</td><td><input type="text" name="insrecordOutdoors" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox" suffix="小时/日"></td></tr>

            <tr><td colspan="2">服用维生素D</td><td><input type="text" name="insrecordTakevd" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox" suffix="IU/日"></td></tr>
            <tr><td colspan="2">发育评估</td><td>

                <select id="ddlLine4" class="easyui-combotree" style="width: 650px; height: 24px;"  name="insrecordGrowassess" >
                </select>
            </td></tr>


            <tr><td colspan="2">两次随访间患病情况</td><td>

                <select id="ddlLine6" class="easyui-combotree" style="width: 650px; height: 24px;"  name="insrecordTwofollow" >
                </select>
            </td></tr>

            <tr><td rowspan="4">转诊建议</td></tr>

            <tr><td colspan="2"><input type="radio" name="insrecordTranadvice" value="1"/>1无 <input type="radio" name="insrecordTranadvice" value="2"/>2有</td></tr>
            <tr><td>原因：</td><td><input type="text" name="insrecordTranreason" style="border: none;outline: medium;width: 100%;height: 100%"/></td></tr>
            <tr><td>机构及科室：</td><td><input type="text" name="insrecordTrandivision" style="border: none;outline: medium;width: 100%;height: 100%"/></td></tr>
            <tr><td colspan="2">指导</td><td>

                <select id="ddlLine8" class="easyui-combotree" style="width: 650px; height: 24px;"  name="insrecordGuide" >
                </select>
            </td></tr>

            <tr><td  colspan="2">下次随访时间</td><td><input type="text" style="border: none;outline: medium;width: 100%;height: 100%" id="ANdate"   name="insrecordNextdate"></td></tr>

            <tr><td  colspan="2">随访医生签名</td><td>


            <!--<select name="insrecordDoctor" style="border: none;outline: medium;width: 100%;height: 100%;appearance:none; -moz-appearance:none;-webkit-appearance:none;">
                <option value="左冬恩">左冬恩</option>
                <option value="齐建科">齐建科</option>
                <option value="孟民学">孟民学</option>
            </select>-->
                <select type="text"  style="border: none;outline: medium;width: 650px;appearance:none; -moz-appearance:none;-webkit-appearance:none;"  class="easyui-combobox easyui-validatebox" data-options="required:true, missingMessage:'请填写姓名'"  name="insrecordDoctor" id="healthcheckDoctor">
                </select>

            </td></tr>
        </table>
    </form>
</div>





<div id="CR1" style="width: 1000px;height: 500px">

</div>

<div id="edit-dialog" style="width: 840px;height: 600px;">
    <form id="edit-form" method="post">

    <table border="1px" style="width: 800px;height: 300px;border-collapse:collapse;
        border:1px solid black;margin-top: 10px">
        <tr align="center" style="border: none"><td colspan="3">姓名：<input type="text" style="border:none;outline:medium;" id="cname"/>  编号：<input type="text" style="border:none;outline:medium;" id="cnum"><input type="text" name="insrecordId" id="CD" hidden="hidden"><input type="text" name="recordId" id="creD" hidden/></td></tr>
        <tr><td colspan="2">随访日期*</td><td><input type="date"   id="cdate" name="insrecordDate"></td></tr>
        <tr><td>体重</td><td><input type="text" suffix="kg" id="cweight" name="insrecordWeight" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox"></td>
            <td>评价：
            <select name="insrecordWeiassess" style="appearance:none; -moz-appearance:none;-webkit-appearance:none;border: none;outline: medium;width: 90%;height: 100%">
                <option value="上">上</option>
                <option value="中">中</option>
                <option value="下">下</option>
            </select>
            </td><tr>
        <tr><td>身长</td><td><input type="text" suffix="cm" id="cheight" name="insrecordHeight" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox"></td>
        <td>评价：

            <select name="insrecordHeiassess" style="appearance:none; -moz-appearance:none;-webkit-appearance:none;border: none;outline: medium;width: 90%;height: 100%">
                <option value="上">上</option>
                <option value="中">中</option>
                <option value="下">下</option>
            </select>
        </td><tr>
        <tr><td colspan="2">头围</td><td><input type="text" suffix="cm" name="insrecordHeadsize" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox"></td><tr>
        <tr><td rowspan="17">体格检查</td></tr>
        <tr><td>面色</td><td><input type="radio" name="insrecordFace" value="1"/>1红润<input type="radio" name="insrecordFace" value="2"/>2黄染<input type="radio" name="insrecordFace" value="3"/>3其他</td></tr>
        <tr><td>皮肤</td><td><input type="radio" name="insrecordSkin" value="1"/>1未见异常<input type="radio" name="insrecordSkin" value="2"/>2异常</td></tr>
        <tr><td>前囟</td><td><input type="radio" name="insrecordFontane" value="1"/>1闭合<input type="radio" name="insrecordFontane" value="2"/>2未闭  <input type="text" style="border:none;outline:medium;text-align:right" name="insrecordFonlong">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cm×<input type="text" style="width: 25px;border:none;outline:medium;" name="insrecordFonwidth">cm</td></tr>
        <tr><td>颈部包块</td><td><input type="radio" name="insrecordMasses" value="1"/>1有<input type="radio" name="insrecordMasses" value="2"/>2无</td></tr>

        <tr><td>眼睛</td><td><input type="radio" name="insrecordEyes" value="1"/>1未见异常<input type="radio" name="insrecordEyes" value="2"/>2异常</td></tr>
        <tr><td>耳</td><td><input type="radio" name="insrecordEars" value="1"/>1未见异常<input type="radio" name="insrecordEars" value="2"/>2异常</td></tr>
        <tr><td>听力</td><td><input type="radio" name="insrecordListen" value="1"/>1通过<input type="radio" name="insrecordListen" value="2"/>2未通过</td></tr>
        <tr><td>口腔</td><td><input type="radio" name="insrecordOral" value="1"/>1未见异常<input type="radio" name="insrecordOral" value="2"/>2异常</td></tr>
        <tr><td>胸部</td><td><input type="radio" name="insrecordChest" value="1"/>1未见异常<input type="radio" name="insrecordChest" value="2"/>2异常</td></tr>
        <tr><td>腹部</td><td><input type="radio" name="insrecordBelly" value="1"/>1未见异常<input type="radio" name="insrecordBelly" value="2"/>2异常</td></tr>
        <tr><td>脐部</td><td><input type="radio" name="insrecordNavel" value="1"/>1未见异常<input type="radio" name="insrecordNavel" value="2"/>2异常</td></tr>
        <tr><td>四肢</td><td><input type="radio" name="insrecordLimbs" value="1"/>1未见异常<input type="radio" name="insrecordLimbs" value="2"/>2异常</td></tr>
        <tr><td>可疑佝偻病症状</td><td>

            <select id="ddlLine1" class="easyui-combotree" style="width: 650px; height: 24px;"  name="insrecordRickets" >
            </select>
        </td></tr>
        <tr><td>可疑佝偻病体征</td><td>

            <input type="radio" name="insrecordRicksign" value="1"> 1无
            <input type="radio" name="insrecordRicksign" value="2">2颅骨软化

        </td></tr>
        <tr><td>肛门/外生殖</td><td><input type="radio" name="insrecordAnus" value="1"/>1未见异常<input type="radio" name="insrecordAnus" value="2"/>2异常</td></tr>
        <tr><td>血红蛋白</td><td colspan="2"><input type="text" name="insrecordHgb" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox" suffix="g/L"></td></tr>

        <tr><td colspan="2">户外活动</td><td><input type="text" name="insrecordOutdoors" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox" suffix="小时/日"></td></tr>

        <tr><td colspan="2">服用维生素D</td><td><input type="text" name="insrecordTakevd" style="border: none;outline: medium;width: 100%;height: 100%" class="easyui-numberbox" suffix="IU/日"></td></tr>
        <tr><td colspan="2">发育评估</td><td>

            <select id="ddlLine3" class="easyui-combotree" style="width: 650px; height: 24px;"  name="insrecordGrowassess" >
            </select>
        </td></tr>


        <tr><td colspan="2">两次随访间患病情况</td><td>

            <select id="ddlLine5" class="easyui-combotree" style="width: 650px; height: 24px;"  name="insrecordTwofollow" >
            </select>
        </td></tr>

        <tr><td rowspan="4">转诊建议</td></tr>

        <tr><td colspan="2"><input type="radio" name="insrecordTranadvice" value="1"/>1无 <input type="radio" name="insrecordTranadvice" value="2"/>2有</td></tr>
        <tr><td>原因：</td><td><input type="text" name="insrecordTranreason" style="border: none;outline: medium;width: 100%;height: 100%"/></td></tr>
        <tr><td>机构及科室：</td><td><input type="text" name="insrecordTrandivision" style="border: none;outline: medium;width: 100%;height: 100%"/></td></tr>
        <tr><td colspan="2">指导</td><td>

            <select id="ddlLine7" class="easyui-combotree" style="width: 650px; height: 24px;"  name="insrecordGuide" >
            </select>
        </td></tr>

        <tr><td colspan="2">下次随访时间</td><td><input type="date" id="CNdate"   name="insrecordNextdate"></td></tr>

        <tr><td colspan="2">随访医生签名</td><td colspan="2">


           <!-- <select name="insrecordDoctor" id="cdoc" style="border: none;outline: medium;width: 100%;height: 100%;appearance:none; -moz-appearance:none;-webkit-appearance:none;" class="easyui-numberbox">
                <option value="左冬恩">左冬恩</option>
                <option value="齐建科">齐建科</option>
                <option value="孟民学">孟民学</option>
            </select>
-->
            <select type="text"  style="border: none;outline: medium;width: 650px;appearance:none; -moz-appearance:none;-webkit-appearance:none;"  class="easyui-combobox easyui-validatebox" data-options="required:true, missingMessage:'请填写姓名'"  name="insrecordDoctor" id="healthcheckDoctor1">
            </select>
        </td></tr>
    </table>
<!--</div>-->
    </form>
</div>

<!--引入叫本页面<%@include file="../common/footer.jsp"%>-->
<div th:replace="common/footer :: myfooter"  ></div>


<!-- End of easyui-dialog -->
<script type="text/javascript" th:inline="none">

    $(function () {
        $('#ddlLine1').combotree({
            valueField: "id", //Value字段
            textField: "text", //Text字段
            multiple: true,
            data:   [{ "id": 1, "text": "1夜惊" }, { "id": 2, "text": "2多汗" }, { "id": 3, "text": "3烦躁" }] ,
            //  url: "tree_data2.json", //数据源
            onCheck: function (node, checked) {
                //让全选不显示
                $("#ddlLine1").combotree("setText", $("#ddlLine1").combobox("getText").toString().replace("全选,", ""));
            },
            onClick: function (node, checked) {
                //让全选不显示
                $("#ddlLine1").combotree("setText", $("#ddlLine1").combobox("getText").toString().replace("全选,",""));
            }
        });
    })

    $(function () {
        $('#ddlLine2').combotree({
            valueField: "id", //Value字段
            textField: "text", //Text字段
            multiple: true,
            data: [{ "id": 1, "text": "1夜惊" }, { "id": 2, "text": "2多汗" }, { "id": 3, "text": "3烦躁" }],
            //  url: "tree_data2.json", //数据源
            onCheck: function (node, checked) {
                //让全选不显示
                $("#ddlLine2").combotree("setText", $("#ddlLine2").combobox("getText").toString().replace("全选,", ""));
            },
            onClick: function (node, checked) {
                //让全选不显示
                $("#ddlLine2").combotree("setText", $("#ddlLine2").combobox("getText").toString().replace("全选,",""));
            }
        });
    })





    $(function () {
        $('#ddlLine3').combotree({
            valueField: "id", //Value字段
            textField: "text", //Text字段
            multiple: true,
            data:   [{ "id": 1, "text": "1对很大声音没反应" }, { "id": 2, "text": "2逗引时不发音或不会微笑" }, { "id": 3, "text": "3不注视人脸,不追视移动人或物品" }
                ,{ "id": 4, "text": "4俯卧时不会抬头" }] ,
            //  url: "tree_data2.json", //数据源
            onCheck: function (node, checked) {
                //让全选不显示
                $("#ddlLine3").combotree("setText", $("#ddlLine3").combobox("getText").toString().replace("全选,", ""));
            },
            onClick: function (node, checked) {
                //让全选不显示
                $("#ddlLine3").combotree("setText", $("#ddlLine3").combobox("getText").toString().replace("全选,",""));
            }
        });
    })



    $(function () {
        $('#ddlLine4').combotree({
            valueField: "id", //Value字段
            textField: "text", //Text字段
            multiple: true,
            data:    [{ "id": 1, "text": "1对很大声音没反应" }, { "id": 2, "text": "2逗引时不发音或不会微笑" }, { "id": 3, "text": "3不注视人脸,不追视移动人或物品" }
                ,{ "id": 4, "text": "4俯卧时不会抬头" }] ,
            //  url: "tree_data2.json", //数据源
            onCheck: function (node, checked) {
                //让全选不显示
                $("#ddlLine4").combotree("setText", $("#ddlLine4").combobox("getText").toString().replace("全选,", ""));
            },
            onClick: function (node, checked) {
                //让全选不显示
                $("#ddlLine4").combotree("setText", $("#ddlLine4").combobox("getText").toString().replace("全选,",""));
            }
        });
    })



    $(function () {
        $('#ddlLine5').combotree({
            valueField: "id", //Value字段
            textField: "text", //Text字段
            multiple: true,
            data:    [{ "id": 1, "text": "1肺炎" }, { "id": 2, "text": "2腹泻" }, { "id": 3, "text": "3外伤" }
                ,{ "id": 4, "text": "4其他" }],
            //  url: "tree_data2.json", //数据源
            onCheck: function (node, checked) {
                //让全选不显示
                $("#ddlLine5").combotree("setText", $("#ddlLine5").combobox("getText").toString().replace("全选,", ""));
            },
            onClick: function (node, checked) {
                //让全选不显示
                $("#ddlLine5").combotree("setText", $("#ddlLine5").combobox("getText").toString().replace("全选,",""));
            }
        });
    })


    $(function () {
        $('#ddlLine6').combotree({
            valueField: "id", //Value字段
            textField: "text", //Text字段
            multiple: true,
            data:   [{ "id": 1, "text": "1肺炎" }, { "id": 2, "text": "2腹泻" }, { "id": 3, "text": "3外伤" }
                ,{ "id": 4, "text": "4其他" }] ,
            //  url: "tree_data2.json", //数据源
            onCheck: function (node, checked) {
                //让全选不显示
                $("#ddlLine6").combotree("setText", $("#ddlLine6").combobox("getText").toString().replace("全选,", ""));
            },
            onClick: function (node, checked) {
                //让全选不显示
                $("#ddlLine6").combotree("setText", $("#ddlLine6").combobox("getText").toString().replace("全选,",""));
            }
        });
    })



    $(function () {
        $('#ddlLine7').combotree({
            valueField: "id", //Value字段
            textField: "text", //Text字段
            multiple: true,
            data:   [{ "id": 1, "text": "1科学喂养" }, { "id": 2, "text": "2生长发育" }, { "id": 3, "text": "3疾病预防" }
                ,{ "id": 4, "text": "4预防伤害" }, { "id": 5, "text": "5口腔保健" }, { "id": 6, "text": "6其他_" }] ,
            //  url: "tree_data2.json", //数据源
            onCheck: function (node, checked) {
                //让全选不显示
                $("#ddlLine7").combotree("setText", $("#ddlLine7").combobox("getText").toString().replace("全选,", ""));
            },
            onClick: function (node, checked) {
                //让全选不显示
                $("#ddlLine7").combotree("setText", $("#ddlLine7").combobox("getText").toString().replace("全选,",""));
            }
        });
    })

    $(function () {
        $('#ddlLine8').combotree({
            valueField: "id", //Value字段
            textField: "text", //Text字段
            multiple: true,
            data:  [{ "id": 1, "text": "1科学喂养" }, { "id": 2, "text": "2生长发育" }, { "id": 3, "text": "3疾病预防" }
                ,{ "id": 4, "text": "4预防伤害" }, { "id": 5, "text": "5口腔保健" }, { "id": 6, "text": "6其他_" }] ,
            //  url: "tree_data2.json", //数据源
            onCheck: function (node, checked) {
                //让全选不显示
                $("#ddlLine8").combotree("setText", $("#ddlLine8").combobox("getText").toString().replace("全选,", ""));
            },
            onClick: function (node, checked) {
                //让全选不显示
                $("#ddlLine8").combotree("setText", $("#ddlLine8").combobox("getText").toString().replace("全选,",""));
            }
        });
    })



    $(function () {
        $("#userSearch").click(function () {
            $("#data-datagrid").datagrid({
                queryParams: {
                    recordName: $("input[name=userName]").val()
                }
            });

        });
    });







    function openAdd(){
        $("#CR1").dialog('close');
        var now = new Date();
        var h = now.getFullYear();
        var m = (now.getMonth() + 1>9) ? now.getMonth() + 1 : "0"+(now.getMonth() + 1);
        var s = (now.getDate()>9)  ? now.getDate()  : "0"+now.getDate();
        document.getElementById("Adate").value = h+'-'+m+'-'+s;
        var Nm=m+3;
        var Nh=h;
        if(Nm>12){
            Nm-=12;
            Nh+=1;
        }
        $("#ANdate").val(Nh+'-'+Nm+'-'+s);
        $('#add-dialog').dialog({
            closed: false,
            modal:true,
            title: "新增对象登记",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: add
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#add-dialog').dialog('close');
                }
            }],

            onBeforeOpen:function(){

            }

        });
        $.ajax({
            type: "post",
            url: "../oldpeo/oldp/queryDoctor",
            dataType: "json",
            success: function (date) {
                $("#healthcheckDoctor").combobox({
                    mode: 'remote',
                    url: '../oldpeo/oldp/queryDoctor',
                    valueField: 'lastname',
                    textField: 'lastname',
                    delay: 100
                });
            }

        });


    }


    function add(){
        var validate = $("#add-form").form("validate");

        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }

        var data = $("#add-form").serialize();

        $.ajax({
            url:'../ChildRecord/add',
            dataType:'json',
            type:'post',
            data:data,
            success:function(data){
                /*  alert( document.getElementById("ANd").value);
                  if(data>0){*/
                $.messager.alert('信息提示','添加成功！','info');
                $('#add-dialog').dialog('close');
                $('#data-datagrid').datagrid('reload');


            }
        });
    }
    /**
     * 载入数据
     */
    var dt;
    var wea;
    var hea;
    var cdate1;
    $('#data-datagrid').datagrid({
        url:'list',
        rownumbers:true,
        singleSelect:false,
        pageSize:20,
        pagination:true,
        multiSort:true,
        fitColumns:true,
        idField:'id',
        treeField:'name',
        fit:true,
        onDblClickRow:function(rowIndex,row){

            $("#cname").val(row.recordName);
            $("#cnum").val(row.recordInputtingcard);
             var recordId =row.userId;
            $.post("../ChildRecord/list","recordId="+recordId,function(data){

                var d="";

                d += "<div style='border: none'>";
                d+="<input title='新增随访记录' onclick='openAdd()' type='button' value='+' style='width:200px;height: 160px;border: none;background-color: transparent; outline: none;font-size: 180px;margin-top: -30px;color: gray;'>";
                d += "</div>";

                    $("#Aname").val(row.recordName);
                    $("#Anum").val(row.recordInputtingcard);
                    $("#AreD").val(row.userId);

                    for (var i = 0; i < data.length; i++) {
                          cdate1=data[i].insrecordDate;
                          dt=data[i].insrecordDoctor;
                          wea=data[i].insrecordWeiassess;
                          hea=data[i].insrecordWeiassess;
                        d += "<div title='双击查看随访记录' id='sdd"+i+"' ondblclick='openInfo("+data[i].insrecordId+","+ data[i].recordId+ "," + data[i].insrecordDate+ "," + data[i].insrecordWeight+ ","  + data[i].insrecordHeight+")'>";

                        d+="<div style='margin-top: 0px;margin-left: 0px;'>"
                        d+="<input type='button'  value='×' title='删除记录'  onclick='jc("+data[i].insrecordId+","+i+")'   style='color: red;font-size: 20px;border: none;background-color: transparent;outline: none' >";
                        d+="</div>"

                        d += "<div><span>编号：</span><span>";
                        d += data[i].recordId;

                        d += "</span></div>";

                        d += "<div><span>检查日期：</span><span>";
                        d += data[i].insrecordDate;
                        d += "</span></div>";

                        d += "<div><span>体重：</span><span>";
                        d += data[i].insrecordWeight;
                        d += "</span>";
                        d += "<span>评价：</span><span>";
                        d += data[i].insrecordWeiassess;
                        d += "</span></div>";

                        d += "<div><span>身长：</span><span>";
                        d += data[i].insrecordHeight;
                        d += "</span>";
                        d += "<span>评价：</span><span>";
                        d += data[i].insrecordHeiassess;
                        d += "</span></div>";
                        d += "<div><span>检查者：</span><span>";
                        d += data[i].insrecordDoctor;
                        d += "</span></div>";
                        d+="<div>";
                        $("#Aname").val(row.recordName);
                        $("#Anum").val(row.recordInputtingcard);
                        $("#AreD").val(row.userId);
                        d += "</div>";
                        d += "</div>";

                    }

                    $("#CR1").html(d);


            });
           $("#CR1").dialog({
               closed: false,
               modal:true,
               title: "健康检查记录",
               buttons: [{
                   text: '确定',
                   iconCls: 'icon-ok'
               }, {
                   text: '取消',
                   iconCls: 'icon-cancel',
                   handler: function () {
                       $('#edit-dialog').dialog('close');
                   }
               }],
               onBeforeOpen:function(){

               }
           });
            $.ajax({
                type: "post",
                url: "../oldpeo/oldp/queryDoctor",
                dataType: "json",
                success: function (date) {
                    $("#healthcheckDoctor1").combobox({
                        mode: 'remote',
                        url: '../oldpeo/oldp/queryDoctor',
                        valueField: 'lastname',
                        textField: 'lastname',
                        delay: 100
                    });
                }
            });


        },
        columns:[[
            { field:'userId',checkbox:true},
            { field:'recordInputtingcard',title:'健康档案号',width:100},
            { field:'recordName',title:'姓名',width:100,align:'center'},
            { field:'userSex',title:'性别',width:100,sortable:true,formatter:function(value,row,index){
                    switch(value){
                        case 0:{
                            return '未知';
                        }
                        case 1:{
                            return '男';
                        }
                        case 2:{
                            return '女';
                        }
                    }
                    return value;
                }},
            { field:'userBirthday',title:'出生日期',width:100},
            { field:'recordAdress',title:'联系地址',width:100},
            { field:'userMyphone',title:'联系电话',width:100,sortable:true},
            { field:'RECORD_People',title:'录入人',width:100},
            { field:'recordData',title:'建档日期',width:100,sortable:true},
            { field:'userState',title:'结案状态',width:100,sortable:true},
            { field:'cishu',title:'随访次数',width:100,align:'center'},
            { field:'userDe',title:'备注',width:100},
            { field:'USER_LINESTOCK',title:'下次检查时间',width:100,align:'center'}
        ]],
        onLoadSuccess:function(data){
            $('.authority-edit').linkbutton({text:'编辑权限',plain:true,iconCls:'icon-edit'});
        }
    });

    /**
     * 删除记录
     */
   function jc(sao1,sao2) {//id    第几个

       $.messager.confirm('信息提示','确定要删除该记录？', function(result){

           if(result) {
                   $.ajax({
                       url: '../ChildRecord/delete',
                       dataType: 'json',
                       type: 'post',
                       data: 'insrecordId=' + sao1,
                       success: function (data) {
                           if (data > 0) {
                               $.messager.alert('信息提示', '删除成功！', 'info');
                               //  $('#CR1').treegrid('reload');
                               $("#sdd"+sao2).remove();
                               $('#data-datagrid').datagrid('load');
                           } else {
                               $.messager.alert('信息提示', '失败', 'warning');
                           }
                       }
                   });
           }
       });
   }



  function openInfo(insrecordId,recordId,insrecordDate,insrecordWeight,insrecordHeight){
      $("#CD").val(insrecordId);
      $("#creD").val(recordId);
    $("#cdate").val(cdate1);  //随访日期
    $("#cweight").val(insrecordWeight); //体重
    $("#cwa").val(wea);//体重评价
    $("#cheight").val(insrecordHeight);//身长
    $("#cha").val(hea);//身长评价
    $("#cdoc").val(dt);//随访医生
      $("#CR1").dialog('close');
      $('#edit-dialog').dialog({
          closed: false,
          modal:true,
          title: "修改健康检查记录",
          buttons: [{
              text: '确定',
              iconCls: 'icon-ok',
              handler: edit
          }, {
              text: '取消',
              iconCls: 'icon-cancel',
              handler: function () {
                  $('#edit-dialog').dialog('close');
              }
          }],
          onBeforeOpen:function(){
              $.ajax({
                  url:'../ChildRecord/findByid',
                  dataType:'json',
                  type:'post',
                  data:'insrecordId='+insrecordId,
                  success:function(d){

                      $('#edit-form').form('load',d[0]);
                  }
              });
          }
      });


    };

 /*   1.post
   2. date
    3.div*/




    $('#data-datagrid1').datagrid({
        url:'../ChildRecord/list',
        rownumbers:true,
        singleSelect:false,
        pageSize:20,
        pagination:true,
        multiSort:true,
        fitColumns:true,
        idField:'id',
        treeField:'name',
        fit:true,
        columns:[[
            { field:'insrecordId',checkbox:true},
            { field:'insrecordDate',title:'随访日期',width:100},
            { field:'insrecordWeight',title:'体重',width:100,align:'center'},
            { field:'insrecordWeiassess',title:'评价',width:100,sortable:true},
            { field:'insrecordHeight',title:'身长',width:100},
            { field:'insrecordHeiassess',title:'评价',width:100},
            { field:'insrecordDoctor',title:'检查者',width:100,sortable:true}
        ]],
        onLoadSuccess:function(data){
            $('.authority-edit').linkbutton({text:'编辑权限',plain:true,iconCls:'icon-edit'});
        }
    });



    /**
     * Name 修改记录
     */
    function edit(){
        var validate = $("#edit-form").form("validate");
        if(!validate){
            $.messager.alert("消息提醒","请检查你输入的数据!","warning");
            return;
        }
        var data = $("#edit-form").serialize();
        $.ajax({
            url:'../ChildRecord/edit',
            dataType:'json',
            type:'post',
            data:data,
            success:function(data) {
               // alert(data);
                if (data > 0) {
                    $.messager.alert('信息提示', '修改成功！', 'info');
                    $('#edit-dialog').dialog('close');
                    $('#data-datagrid').datagrid('reload');
                } else {
                    $.messager.alert('信息提示','失败', 'warning');
                }
            }
        });
    }

</script>