<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.health.mapper.pultub.PuserinfoMapper">
    <select id="findList" parameterType="Map" resultType="com.aaa.health.entity.pultub.Puserinfo">
        select u.*,FLOOR((TO_DAYS(SYSDATE())-TO_DAYS(u.userBirthday))/365) userAge from userinfo u
        join area a on u.recordUnit=a.areaId
        where 1 = 1
        and u.userId not in (select userId from pultubfo)
        <if test="areaId == 410000">
            and 1=1
        </if>
        <if test="areaId != 410000">
            and a.areaId=#{areaId}
        </if>
        <if test="userId != null and userId !=''">
            and u.userId like '%${userId}%'
        </if>
        <if test="recordName != null and recordName !=''">
            and u.recordName like '%${recordName}%'
        </if>
        <if test="beginTime != null">
            and u.userBirthday  >= #{beginTime}
        </if>
        <if test="endTime != null">
            and   #{endTime} >= u.userBirthday
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>
    <select id="queryUserById" parameterType="Integer" resultType="Map">
        select * from userinfo where userId=#{userId}
    </select>
    <!-- 获取符合结果的总记录数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*) from userinfo u join area a on u.recordUnit=a.areaId
        where 1 = 1
        and u.userId not in (select userId from pultubfo)
        <if test="areaId == 410000">
            and 1=1
        </if>
        <if test="areaId != 410000">
            and a.areaId=#{areaId}
        </if>
        <if test="userId != null and userId !=''">
            and u.userId like '%${userId}%'
        </if>
        <if test="recordName != null and recordName !=''">
            and u.recordName like '%${recordName}%'
        </if>
        <if test="beginTime != null">
            and u.userBirthday  >= #{beginTime}
        </if>
        <if test="endTime != null">
            and   #{endTime} >= u.userBirthday
        </if>
    </select>
</mapper>